{% extends "layouts/company-base.html" %}

{% set count = 1 %}
{% set company_search_box = true %}

{% block js %}
{{ f.module(['toggle', 'ajax_form']) }}
<script src="{{ f.js('company.min.js') }}"></script>
{% endblock %}

{% block page %}
<div class="row">
    {% for i in range(1,17) %}
        <div class="col-lg-3 col-sm-12 col-md-12 company-item-container">
            {% include 'partials/_company-card.html' %}
        </div>
   {% endfor %}
</div>
<div class="row">
    <div class="col btn-wrapper">
        <button class="form-control btn btn-secondary yellow-button" id="company-show-more">Show More</button>
    </div>
</div>
{% endblock %}