{% import 'macros/path.html' as f %}

{% import 'macros/site.html' as s %}

{% extends "layouts/base.html" %}

{% set newsletter_subscription = true %}

{% block js %}{% endblock %}

{% block content %}
<div class="main">
	<div class="container-fluid sank-rectangle"></div>
	<div class="container-fluid container-herobanner">
		<div class="row herobanner">
			<div class="herobanner-img-mobile container-fluid">
				<img class="img-fluid" src="{{f.landing_page_img('mask-group-21-2x.png')}}">
			</div>
			<div class="col-lg-5 col-md-12 col-sm-12 herobanner-title">
				<h3>Lorem ipsum dolor sit amet, consecteturs</h3>
				<div class="search-box">
					<div class="row">
						<div class="input-container" id="search-by-title-skill">
							<input type="text" class="form-control" placeholder="&#xF002;  Search by Job Title, Company or Skills" name="search-by-title-skill">
						</div>
                       	<div class="input-container" id="search-by-location">
							<input type="text" class="form-control" placeholder="&#xF041;  Location" name="search-by-localtion">
						</div>
						<div class="input-container" id="search-by-category">
							<input type="text" class="form-control" placeholder="&#xF0B1;  Job Categories" name="search-by-categories">
						</div>
						<div class="input-container" id="search-button">
							<button class="btn btn-secondary">Search</button>
						</div>
						

					</div>
					<div class="row advanced-search">
						<a href="{{ s.job_search_url() }}">Advanced Search</a>
					</div>
				</div>
				<p>Or discover categories</p>
				<div class="categories">
					<button>Work From Home</button>
					<button>Freelance</button>
					<button>Contract</button>
					<button>Full-time</button>
					<button>Part-time</button>
					<button>Jobs for COVID-19 Layoff</button>
					<button>Jobs for Women</button>
				</div>
			</div>
			<div class="col-lg-7 herobanner-img">
				<img class="img-fluid" src="{{f.landing_page_img('mask-group-21-2x.png')}}">
			</div>
		</div>
		<div class="row trust-by-section">
			<div class="container">
				<div class="row trust-title">
					<p>We are trusted by</p>
				</div>
				<div class="row trust-company-logo">
					<img id="apple-logo" src="{{f.companies_main_img('apple.png')}}">
					<img id="celcom-logo" src="{{f.companies_main_img('celcom.png')}}">
					<img id="maxis-logo" src="{{f.companies_main_img('maxis.jpeg')}}">
					<img id="shell-logo" src="{{f.companies_main_img('shell.png')}}">
					<img id="samsung-logo" src="{{f.companies_main_img('samsung.png')}}">
				
				</div>
			</div>
		</div>
	</div>
	
	{% include 'partials/_announcement_alert_section.html' %}
	{% include 'partials/_announcement_section.html' %}
	<div class="looking-job-section">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-6 col-sm-12 child" id="looking-job">
					<h4>Looking For Jobs?</h4>
					<p>Discover Jobs</p>
				</div>
				<div class="col-lg-6 col-sm-12 child" id="looking-people">
					<div id="array-dots-mobile-1">
						<img src="{{f.landing_page_img('group-3848.png')}}">
					</div>
					<h4>Looking For People?</h4>
					<p>Search Candidates</p>
					<div id="array-dots-mobile-2">
						<img src="{{f.landing_page_img('group-3848.png')}}">
					</div>
				</div>	
			</div>
		</div>
	</div>
	<div class="explore-jobs-section">

		<div id="array-dots-desktop-1">
			<img src="{{f.landing_page_img('group-3848.png')}}" class="float-start">
		</div>
		<div class="container-fluid explore-jobs-container align-items-center">
			<div class="row">
				<div class="col-6 col-lg-3 explore-jobs-title">
					<h4>Explore jobs by</h4>
					<p>category</p>
				</div>
			{% for i in range(1,7) %}
				<div class="col-6 col-lg-3 category-item-container text-center">
					<div class="item-container">
						<a href="#">
							<h3>Lorem ipsum</h3>
							<p>Lorem ipsum dolor sit amet,</p>
						</a>
					</div>
				</div>
                 {% if i == 3 %} 
                 </div>
                 <div class="row">
            	{% endif %}
            {% endfor %}
            	<div class="col-6 col-sm-3 category-item-container text-center">
					<div class="item-container">
						<a href="#">
							<h3>100+ More</h3>
							<h3>Categories</h3>
						</a>
					</div>
				</div>
        	</div>
		</div>
		<div id="array-dots-desktop-2">
			<img src="{{f.landing_page_img('group-3848.png')}}" class="float-end">
		</div>
	</div>
	<div class="available-jobs-section">
		<div class="container-fluid available-jobs-container">
			<div class="row title-wrapper">
				<h4>Explore more <span>available jobs</span></h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
			</div>
			<div class="row job-cards-container">
				{% for i in range(1,6) %}
					{% include 'partials/_job_card.html' %}
				{% endfor %}
				<div class="job-card job-card-show-more col-lg-6 col-md-12 col-sm-12">
					<div class="job-card-container">
						<h4>100+ More Jobs Available</h4>
						<p>Discover Jobs</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- {% include 'components/_carousel-sliders.html' %} -->
{% endblock %}