{% import 'macros/path.html' as f %}

{% import 'macros/site.html' as s %}

{% extends "layouts/base.html" %}

{% set newsletter_subscription = true %}

{% block js %}{% endblock %}

{% block content %}
<div class="main">
	<div class="sank-rectangle"></div>
	<div class="container-fluid px-0 container-herobanner">
		<div class="row herobanner">
			<div class="herobanner-img-mobile col-md-12 col-sm-12 ">
				<img src="{{f.landing_page_img('Mask Group 21@2x.png')}}">
			</div>
			<div class="col-lg-5 col-md-12 col-sm-12 herobanner-title">
				<h3>Lorem ipsum dolor sit amet, consectetur</h3>
				<div class="search-box">
					<div class="row">
						<div class="input-container" id="search-by-title-skill">
							<input type="text" class="form-control" placeholder="&#xF002;  Search by Job Title, Company or Skills" name="search-by-title-skill">
						</div>
                       	<div class="input-container" id="search-by-location">
							<input type="text" class="form-control" placeholder="&#xF041;  Location" name="search-by-localtion">
						</div>
						<div class="input-container" id="search-by-category">
							<input type="text" class="form-control" placeholder="&#xF0B1;  Job Categories" name="search-by-categories">
						</div>
						<div class="input-container" id="search-button">
							<button class="btn btn-secondary">Search</button>
						</div>
						

					</div>
					<div class="row advanced-search">
						<a href="{{ s.job_search_url() }}">Advanced Search</a>
					</div>
				</div>
				<p>Or discover categories</p>
				<div class="categories">
					<button>Work From Home</button>
					<button>Freelance</button>
					<button>Contract</button>
					<button>Full-time</button>
					<button>Part-time</button>
					<button>Jobs for COVID-19 Layoff</button>
					<button>Jobs for Women</button>
				</div>
			</div>
			<div class="col-lg-7 herobanner-img">
				<img src="{{f.landing_page_img('Mask Group 21@2x.png')}}">
			</div>
		</div>
		<div class="row trust-by-section">
			<div class="container">
				<div class="row trust-title">
					<p>We are trusted by</p>
				</div>
				<div class="row trust-company-logo">
					<img id="apple-logo" src="{{f.companies_main_img('apple.png')}}">
					<img id="celcom-logo" src="{{f.companies_main_img('celcom.png')}}">
					<img id="maxis-logo" src="{{f.companies_main_img('maxis.jpeg')}}">
					<img id="shell-logo" src="{{f.companies_main_img('shell.png')}}">
					<img id="samsung-logo" src="{{f.companies_main_img('samsung.png')}}">
				
				</div>
			</div>
		</div>
		
		
	</div>
	
	{% include 'partials/_announcement_alert_section.html' %}
	{% include 'partials/_announcement_section.html' %}
	<div class="row looking-job-section">
		<div class="col-lg-6 col-sm-12">
			<h4>Looking For Jobs?</h4>
		</div>
		<div class="col-lg-6 col-sm-12">
			<h4>Looking For People?</h4>
		</div>	
	</div>
</div>
<!-- {% include 'components/_carousel-sliders.html' %} -->
{% endblock %}