{% extends "layouts/base.html" %}
{% import 'macros/path.html' as f %}

{% block js %}
{{ f.module(['toggle', 'ajax_form']) }}
<script src="{{ f.js('job.min.js') }}"></script>
{% endblock %}

{% block content %}
{# <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> #}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
<div class="container fluid job-description">
    <div class="full-page">
        <div class="row main-image">
            {# <div class="col-lg-12"> #}
                <img src="{{ f.img('job/mask_group_2x.png') }}" class="card-img-top" alt="Mask Group">
            {# </div> #}
        </div>
        <div class="row job-scope">

                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="job-title">UI UX Designer</div>
                            <div class="job-company mt-4">Petroliam Nasional Berhad (PETRONAS)</div>
                        </div>
                        <div class="col-lg-6 company-logo">
                            <img src="{{ f.img('job/petronas_ico_large.png') }}" class="card-img-top petronas-icon" alt="Petronas">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-5">
                            <div class="job-base">
                                <img src="{{ f.img('job/location.png') }}" class="card-img-top location-icon" alt="localtion">
                                <span>Malaysia</span>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="salary">
                                <img src="{{ f.img('job/coins.png') }}" class="card-img-top coins-icon" alt="coins">
                                <span>Salary</span>
                                <img src="{{ f.img('job/lock.png') }}" class="card-img-top lock-icon" alt="lock">
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-5 job-type">
                            <img src="{{ f.img('job/clock.png') }}" class="card-img-top clock-icon" alt="clock">
                            <button class="btn btn-job-type"><span>Full time</span></button>
                        </div>
                        <div class="col-lg-4 job-experience">
                            <img src="{{ f.img('job/briefcase.png') }}" class="card-img-top briefcase-icon" alt="coins">
                            <span>3-5 Years Experience</span>
                        </div>
                        <div class="col-lg-3 job-post">
                            <span>Posted 5 hours ago</span>
                        </div>
                    </div>
                </div>

        </div>
        <div class="row buttons-range">
            <button class="btn btn-dark btn-save">
                <i class="fa fa-bookmark-o"></i>
                <span>Save</span>
            </button>
            <button class="btn btn-dark btn-share">
                <i class="fa fa-share"></i>
                <span>Share</span>
            </button>
            <button class="btn btn-dark btn-view-location">
                <i class="fal fa-location"></i>
                <span>View Location</span>
            </button>
            <button class="btn btn-warning btn-apply">Apply now</button>
        </div>
        {# <div class="row"> #}
            <div class="row details-job-requirement">
                <div class="col">
                    <div class="row row-cols-2 row-requirement">
                        <div class="col-lg-3 col-md-3 title">
                            Requirements
                        </div>
                        <div class="col details">
                            <p>Candidate must possess at least a Advanced/Higher/Graduate Diploma, Bachelor's Degree in Computer</p>
                            <p>Science/Information Technology or equivalent.</p>
                            <p>Required skill(s): ASP.NET, VB.NET, VB.</p>
                            <p>Other skill(s): Microsoft SQL Server, Crystal Report.</p>
                            <p>Applicants must be willing to work in Shah Alam, Cyberjaya.</p>
                            <p>Self-Motivated.</p>
                        </div>
                    </div>
                    <div class="row row-scope">
                        <div class="col-lg-3 col-md-3 title">
                            Reponsibilities/ Scopes
                        </div>
                        <div class="col details">
                            <p>To enhance & maintain Windows/ Web based total logistics software application and customization.</p>
                            <p>To perform business requirement studies, analysis, design, coding and testing.</p>
                            <p>To participate in new application development projects.</p>
                        </div>
                    </div>
                    <div class="row row-info">
                        <div class="col-lg-5 col-md-5 title">
                            Company Info
                        </div>
                        <div class="col details">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed convallis mauris. Ut eget mollis quam. Etiam efficitur ultrices dolor sed blandit. Suspendisse sed magna arcu. Pellentesque et diam mi. Aenean ut turpis gravida, auctor mauris sit amet, venenatis ante. Etiam ac mauris id justo mollis euismod a nec nisl. Sed aliquet dolor nisl, fringilla vehicula turpis pulvinar eu. Donec rhoncus lorem suscipit aliquam sollicitudin. Vestibulum sit amet massa ut metus faucibus pretium ut at elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In id elit nisl. Maecenas ut luctus orci. Proin bibendum ante quis turpis tincidunt maximus. Etiam ut convallis felis. Phasellus mauris enim, rutrum non lorem sed, imperdiet gravida ex.
                        </div>
                    </div>
                    <div class="row">
                        
                    </div>
                    <div class="row">
                        
                    </div>
                    <div class="row">
                        
                    </div>
                </div>
            </div>
            <div class="advertisement-1">
            </div>
            <div class="advertisement-2">
            </div>
        {# </div> #}

    </div>
</div>
{% endblock %}