 {% extends "layouts/job-description-base.html" %} 
 {% set similar_job_slide= true %}
 {% block js %} 
{{ f.module(['toggle']) }} 
<script src="{{ f.js('nocallback-toggle.min.js') }}"></script>
<script src="{{ f.js('job.min.js') }}"></script>
{% endblock %}
{% block description %}

    <div class="row mt-5 mb-5" id="job-scope">
        <div class="col-lg-3">
            <h4 id="requirements">Requirements</h4>
        </div>
        <div class="col-lg-9">
            <p>Candidate must possess at least a Advanced/Higher/Graduate Diploma, Bachelor's Degree in Computer Science/Information Technology or equivalent. 
            </p>
            <p>Required skill(s): ASP.NET, VB.NET, VB. 
            </p>
            <p>Other skill(s): Microsoft SQL Server, Crystal Report. Applicants must be willing to work in Shah Alam, Cyberjaya.</p>   
            <p>Self-Motivated.
            </p>
        </div>
    </div>

    <div class="row mt-5 mb-5" id="company-info">
        <div class="col-lg-3">
            <h4>Responsibilites / Scopes</h4>
        </div>
        <div class="col-lg-9">
            <p>To enhance & maintain Windows/ Web based total logistics software application and customization.
            </p>
            <p>To perform business requirement studies, analysis, design, coding and testing.
            </p>  
            <p>  To participate in new application development projects.
            </p>
        </div>
    </div>

    <div class="row mt-5 mb-5" >
        <div class="col-lg-3">
            <h4>Company Info</h4>
        </div>
        <div class="col-lg-9">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed convallis mauris. Ut eget mollis quam. Etiam efficitur ultrices dolor sed blandit.  
            </p>
            <p>Suspendisse sed magna arcu. Pellentesque et diam mi. Aenean ut turpis gravida, auctor mauris sit amet, venenatis ante. Etiam ac mauris id justo mollis euismod a nec nisl. Sed aliquet dolor nisl, fringilla vehicula turpis pulvinar eu. Donec rhoncus lorem suscipit aliquam sollicitudin. Vestibulum sit amet massa ut metus faucibus pretium ut at elit.
            </p>  
            <p>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. In id elit nisl. Maecenas ut luctus orci. Proin bibendum ante quis turpis tincidunt maximus. Etiam ut convallis felis. Phasellus mauris enim, rutrum non lorem sed, imperdiet gravida ex.
            </p>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-lg-3">
            <h4>Website</h4>
        </div>
        <div class="col-lg-9">
            <a href="https://www.jevmanagement.com/">https://www.jevmanagement.com/</a>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-lg-3">
            <h4>Company Size</h4>
        </div>
        <div class="col-lg-9">
            <p>10 - 49 Employees</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-3">
            <h4>Employee Benefits</h4>
        </div>
        <div class="col-lg-9">
            <ul class="list-unstyled">
                <li>Point 1</li>
                <li>Point 2</li>
                <li>Point 3</li>
            </ul>
        </div>
    </div>
{% endblock %}