{% extends "layouts/profile-base.html" %}
{% set is_profile = true %}
{% set complete_percent = 62 %}
{% block page %}
<div class="row profile-middle-section">
    <div class="col-lg-12 col-sm-12 col-md-12">
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-md-6 profile-item-container">
                <div class="profile-box-list profile-view">
                    <div class="s-number">
                        <h3>5</h3>
                    </div>
                    <div class="s-text">Profile View</div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-md-6 profile-item-container profile-item-2-container">
                <div class="profile-box-list shortlist">
                    <div class="s-number">
                        <h3>5</h3>
                    </div>
                    <div class="s-text">Shortlisted by Potential Employer</div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            {% include 'partials/_announcement_section.html' %}
        </div>
        <div class="row mt-2">
            {% include 'partials/_announcement_alert_section.html' %}
        </div>
    </div>
</div>
<div class="row mb-5">
    <div class="col-12">
        <div class="row package-text">Packages</div>
        <div class="row">
            {% for i in range(1,4)%}
            <div class="col-lg-3 package-margin-{{ i }}">
                <div class="benefit-package">
                    <div class="row title">Package 1</div>
                    <div class="row benefit-sal">
                        <p><span class="superscript">RM</span><span class="normal">10</span><span class="month"> Month</span></p>
                    </div>
                    <div class="benefit-description">
                        <p><i class="bi bi-check-circle"></i><span>Benefits Description</span></p>
                        <p><i class="bi bi-check-circle"></i><span>Benefits Description</span></p>
                        <p><i class="bi bi-check-circle"></i><span>Benefits Description</span></p>
                    </div>
                    <div class="apply">
                        <button class="btn-apply-job"><span>Apply now</span></button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}