{% extends "layouts/profile-base.html" %}
{% import 'macros/path.html' as f %}
{% set is_profile = false %}
{% set is_resume = true %}
{% set complete_percent = 62 %}
{% set skillLists = [{'level': 'Advanced', 'skills':  ['Skill 1', 'Skill 2', 'Skill 3'] }, {'level': 'Intermediate', 'skills': ['Skill 1', 'Skill 2', 'Skill 3'] }, {'level': 'Basic', 'skills': ['Skill 1', 'Skill 2', 'Skill 3']}] %}
{% set languages = ['Bahasa Malaysia (Primary)', 'English', 'Language 3' ] %}
{% set extraInfo = [{'title': 'Item 1', 'content': 'Information'}, {'title': 'Item 2', 'content': 'Information'}, {'title': 'Item 3', 'content': 'Information'}] %}
{% set experiences = [{'from': 'MM/YY', 'to': 'MM/YY', 'duration': 'Duration', 'job_title': 'Job Title', 'company_name': 'Company Name', 'location': 'Location',
'industry': 'Advertising / Marketing / Promotion /PR', 'specialization' : 'Advertising / Media Planning', 'role': 'Creative', 'level': 'Manager', 
'salary': 'MYR 0,000',
'description': 'Job Description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam efficitur urna viverra odio viverra ultrices. Aenean eu eros sollicitudin, tristique tortor vel, ultricies augue. Nunc pharetra ullamcorper tristique. Morbi id tempor orci. In suscipit purus ac velit eleifend consectetur. Proin quam odio, volutpat non dolor ac, sagittis mattis nunc. In hac habitasse platea dictumst. Aliquam erat volutpat. Nam tempus lectus sit amet turpis lobortis semper. Vestibulum a dolor mi. Nam vel placerat nisl.'}] %}
{% set educations = [{'from': 'MM/YY', 'to': 'MM/YY', 'duration': 'Duration', 'course_name': 'Education Course Name', 'college': 'University/College/School', 'location': 'Location', 
'details': {'Item 1': 'Information', 'Item 2': 'Information', 'Item 3': 'Information'}, 'description': '' },
{'from': 'MM/YY', 'to': 'MM/YY', 'duration': 'Duration', 'course_name': 'Education Course Name', 'college': 'University/College/School', 'location': 'Location', 
'details': {'Item 1': 'Information', 'Item 2': 'Information', 'Item 3': 'Information'}, 'description': '' }] %}

{% block page %}

<div class="tab-content" id="resumeTabContent">
    <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
        {% include 'partials/_resume-overview-tab.html' %}
    </div>
    <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
        {% include 'partials/_resume-setting-tab.html' %}
  </div>
</div>
{% block js %}
{{ f.module(['toggle']) }} 
<script src="{{ f.js('nocallback-toggle.min.js') }}"></script>
<script src="{{ f.js('resume.min.js') }}"></script>
{% endblock %}
{% endblock %}