{% extends "layouts/profile-base.html" %}
{% import 'macros/path.html' as f %}
{% set is_profile = false %}
{% set is_resume = true %}
{% set complete_percent = 62 %}
{% set skills = ['Advanced', 'Intermediate', 'Basic'] %}
{% set languages = ['Bahasa Malaysia (Primary)', 'English', 'Language 3' ] %}
{% block page %}
<div class="row">
   <div class="col-lg-10 col-md-12 col-sm-12 resume-block">
       <form id='experience'>
       <div class="row row-experience">
           <div class="col-lg-3 col-md-12 col-sm-12 experience-title" id ='experience'>
                <div class="exp">Experience</div>
                <div class="time-duration">MM/YY - MM/YY</div>
                <div class="duration">Duration</div>
           </div>
           <div class="col-lg-9 col-md-12 col-sm-12 experience-content">
                <div class="row job-title">
                    <div class="col-lg-12">
                        <div class="show-experience">Job Title</div>
                        <div class="edit-experience d-none"><input type="text" value="Job Title"></div>
                    </div>
                </div>
                <div class="row job-location">
                    <div class="col-lg-12">
                        <span class="show-experience">Company Name</span> 
                        <span class="edit-experience d-none"><input type="text" value="Company Name"></span>
                        | 
                        <span class="show-experience">Location</span>
                        <span class="edit-experience d-none"><input type="text" value="Location"></span>
                    </div>
                </div>
                <div class="row mt-2 job-field">
                    <div class="col-lg-3">
                        Industry
                    </div>
                    <div class="col-lg-9 font-w-bold">
                        <span class="show-experience">Advertising / Marketing / Promotion /PR</span>
                        <span class="edit-experience d-none"><input type="text" value="Advertising / Marketing / Promotion /PR"></span>
                    </div>
                </div>
                <div class="row specialization">
                    <div class="col-lg-3">
                        Specialization
                    </div>
                    <div class="col-lg-9 font-w-bold">
                        <span class="show-experience">Advertising / Media Planning</span>
                        <span class="edit-experience d-none"><input type="text" value="Advertising / Media Planning"></span>
                    </div>
                </div>
                <div class="row role">
                    <div class="col-lg-3">
                        Role
                    </div>
                    <div class="col-lg-9 font-w-bold">
                        <span class="show-experience">Creative</span>
                        <span class="edit-experience d-none"><input type="text" value="Creative"></span>
                    </div>
                </div>
                <div class="row position-level">
                    <div class="col-lg-3">
                        Position Level
                    </div>
                    <div class="col-lg-9 font-w-bold">
                        <span class="show-experience">Manager</span>
                        <span class="edit-experience d-none"><input type="text" value="Manager"></span>
                    </div>
                </div>
                <div class="row salary">
                    <div class="col-lg-3">
                        Monthly Salary
                    </div>
                    <div class="col-lg-9 font-w-bold">
                        <span class="show-experience">MYR 0,000</span>
                        <span class="edit-experience d-none"><input type="text" value="MYR 0,000"></span>
                    </div>                    
                </div>
                <div class="row mt-3 description">
                    <div class="col-lg-12">
                        <span class="show-experience">Job Description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam efficitur urna viverra odio viverra ultrices. Aenean eu eros sollicitudin, tristique tortor vel, ultricies augue. Nunc pharetra ullamcorper tristique. Morbi id tempor orci. In suscipit purus ac velit eleifend consectetur. Proin quam odio, volutpat non dolor ac, sagittis mattis nunc. In hac habitasse platea dictumst. Aliquam erat volutpat. Nam tempus lectus sit amet turpis lobortis semper. Vestibulum a dolor mi. Nam vel placerat nisl.</span>
                        <span class="edit-experience d-none"><textarea>Job Description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam efficitur urna viverra odio viverra ultrices. Aenean eu eros sollicitudin, tristique tortor vel, ultricies augue. Nunc pharetra ullamcorper tristique. Morbi id tempor orci. In suscipit purus ac velit eleifend consectetur. Proin quam odio, volutpat non dolor ac, sagittis mattis nunc. In hac habitasse platea dictumst. Aliquam erat volutpat. Nam tempus lectus sit amet turpis lobortis semper. Vestibulum a dolor mi. Nam vel placerat nisl.</textarea></span>
                    </div>
                </div>
           </div>
           <div class="col-lg-12 edit"><button type="button" class="btn-edit" id="btn-edit-experience" onclick="editExp()">Edit</button></div>
       </div>
       </form>
       <form id="education">
       <div class="row mt-5 row-education">
           <div class="col-lg-3 col-md-12 col-sm-12" id ='education'>
                <div class="edu-title">Education</div>
           </div>
           <div class="col-lg-9 col-md-12 col-sm-12">
                
           </div>
           {% for i in range(1,3) %}
           <div class="col-lg-3 col-md-12 col-sm-12 education {% if i> 1 %}education-top {% endif %}" >
                <div class="time-duration">MM/YY - MM/YY</div>
                <div class="duration">Duration</div>
           </div>
           <div class="col-lg-9 col-md-12 col-sm-12  education-main {% if i> 1 %}education-top {% endif %}">
                <div class="row course">
                    <div class="col-lg-12 font-w-bold">
                        <span class="show-education">Education Course Name</span>
                        <span class="edit-education d-none"><input type="text" value="Education Course Name"></span>
                    </div>
                </div>
                <div class="row college">
                    <div class="col-lg-12 font-w-bold">
                        <span class="show-education">University/College/School | Location</span>
                        <span class="edit-education d-none"><input type="text" value="University/College/School | Location"></span>
                    </div>
                </div>
                {% for i in range(1,4) %}
               <div class="row item {% if i == 1%}first{% endif %}">
                    <div class="col-lg-2">
                       Item {{ i }}
                    </div>
                    <div class="col-lg-9 font-w-bold">
                        <span class="show-education">Information</span>
                        <span class="edit-education d-none"><input type="text" value="Information"></span>
                    </div>
                   
                </div>
                {% endfor %}
           </div>
           <div class="col-lg-3 col-md-12"></div>
           <div class="col-lg-9 col-md-12 mt-3 description">
               <span class="show-education">Description lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque aliquam, tortor pharetra cursus efficitur, leo ex egestas dui, id mattis magna dolor porttitor eros. In a facilisis ante.</span>
               <span class="edit-education d-none"><textarea>Description lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque aliquam, tortor pharetra cursus efficitur, leo ex egestas dui, id mattis magna dolor porttitor eros. In a facilisis ante.</textarea></span>
           </div>
           {% endfor %}
           <div class="col-lg-12 edit"><button type = "button" class="btn-edit" id="btn-edit-education" onclick="editEducation()">Edit</button></div>
       </div>
       </form>
       <form id="skills">
       <div class="row mt-5 row-skills">
           <div class="col-lg-3 col-md-12 col-sm-12" id ='skills'>
                <div class="skill-title">Skills</div>
           </div>
           <div class="col-lg-9 col-md-12 col-sm-12">
                
           </div>
           {% for skill in skills %}
           <div class="col-lg-3 col-md-12 col-sm-12" >
                <div class="skill-level">{{ skill }}</div>
           </div>
           <div class="col-lg-9 col-md-12 col-sm-12">
                <div class="skill-list">
                    <span class="show-skill">Skill 1, Skill 2, Skill 3</span>
                    <span class="edit-skill d-none"><input type="text" value="Skill 1, Skill 2, Skill 3"></span>
                </div>
                <div class="skill-list-mobile"><p>Skill 1</p> <p>Skill 2</p> <p>Skill 3</p></div>
           </div>
           {% endfor %}
           <div class="col-lg-12 edit"><button type="button" class="btn-edit" id="btn-edit-skill" onclick="editSkill()">Edit</button></div>
       </div>
       </form>
       <form id="languages">
       <div class="row mt-5 row-languages-mobile">
           <div class="col-lg-3 col-md-12 title">
               Languages
               <p>Proficiency level: 0 - Poor, 10 - Excellent</p>
           </div>
           <div class="col-lg-9 col-md-12">

           </div>
           {% for lang in languages %}
           <div class="row {% if loop.index > 1 %}mt-3{% endif %}">
                <div class="col-lg-12 col-md-12 name">{{ lang }}</div>
           </div>
           <div class="row">
            <div class="col-3 score">Spoken</div>
            <div class="col-3">10</div>
           </div>
           <div class="row">
                <div class="col-3 score">Written</div>
                <div class="col-3">10</div>
           </div>
           {% endfor %}
       </div>
       <div class="row mt-5 row-languages">
           <div class="col-lg-3 col-md-12">
                <div class="language">Languages</div>
               <p class="proficiency">Proficiency level: 0 - Poor, 10 - Excellent</p>
           </div>
           <div class="col-lg-9 col-md-12">

           </div>
           <div class="col-lg-3 col-md-12">

           </div>
           <div class="col-lg-9 col-md-12">
               <div class="row">
                   <div class="col-lg-2 col-md-12">Spoken</div>
                   <div class="col-lg-2 col-md-12">Written</div>
               </div>
           </div>
           {% for lang in languages %}
           <div class="col-lg-3 col-md-12">
                <div class="lang-name">{{ lang }}</div>
           </div>
           <div class="col-lg-9 col-md-12">
               <div class="row">
                   <div class="col-lg-2 col-md-12">10</div>
                   <div class="col-lg-2 col-md-12">10</div>
               </div>
           </div>
           {% endfor %}

           <div class="col-lg-12 edit"><button class="btn-edit">Edit</button></div>
       </div>
       </form>
       <form id="extra-info">
       <div class="row mt-5 row-extra-info">
           <div class="col-lg-3 col-md-12">
                <div class="title">Additional Info</div>
           </div>
           <div class="col-lg-9 col-md-12">

           </div>
           <div class="col-lg-3 col-md-12">
                <div class="item">Item 1</div>
           </div>
           <div class="col-lg-9 col-md-12">
                <div class="info">Information</div>
           </div>
           <div class="col-lg-3 col-md-12">
                <div class="item">Item 2</div>
           </div>
           <div class="col-lg-9 col-md-12">
                <div class="info">Information</div>
           </div>
           <div class="col-lg-3 col-md-12">
                <div class="item">Item 3</div>
           </div>
           <div class="col-lg-9 col-md-12">
                <div class="info">Information</div>
           </div>
           <div class="col-lg-12 edit"><button class="btn-edit">Edit</button></div>
       </div>
       </form>
       <div class="row mt-5 mb-5 row-about">
           <div class="col-lg-3 col-md-12">
                <div class="title">About me</div>
           </div>
           <div class="col-lg-9 col-md-12">

           </div>
           <div class="col-lg-3 col-md-12">
                <div class="item">Address</div>
           </div>
           <div class="col-lg-9 col-md-12">
                <div class="info">Information</div>
           </div>
           <div class="col-lg-3 col-md-12">
                <div class="item">Nationality</div>
           </div>
           <div class="col-lg-9 col-md-12">
                <div class="info">Information</div>
           </div>
           <div class="col-lg-3 col-md-12">
                <div class="item">Item 3</div>
           </div>
           <div class="col-lg-9 col-md-12">
                <div class="info">Information</div>
           </div>
       </div>
   </div>
   <div class="col-lg-2 d-none d-lg-block adv-imgs mt-2">
        <img class="img-fluid" src="{{f.profile_img('banner-adv-1-2x.png')}}">
        <img class="img-fluid" src="{{f.profile_img('banner-adv-2-2x.png')}}">
   </div>
</div>
{% block js %}
<script src="{{ f.js('resume.min.js') }}"></script>
{% endblock %}
{% endblock %}