<ul class="nav nav-tabs">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="profile-tab"  data-bs-target="#profile"  data-bs-toggle="tab"type="button" role="tab" aria-controls="profile" aria-selected="true">My Profile</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="experience-tab" data-bs-target="#experience" data-bs-toggle="tab" type="button" role="tab" aria-controls="experience" aria-selected="false">Experience</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="education-tab" data-bs-target="#education" data-bs-toggle="tab" type="button" role="tab" aria-controls="education" aria-selected="false">Education</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="skills-tab" data-bs-target="#skills" data-bs-toggle="tab" type="button" role="tab" aria-controls="skills" aria-selected="false">Skills</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="languages-tab" data-bs-target="#languages" data-bs-toggle="tab" type="button" role="tab" aria-controls="languages" aria-selected="false">Languages</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="settings-tab" data-bs-target="#settings" data-bs-toggle="tab" type="button" role="tab" aria-controls="settings" aria-selected="false">Settings</button>
  </li>  
</ul>