{% import 'macros/path.html' as f %}
<div class="modal fade" id="advance-search-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog container">
    <div class="modal-content">
      <div class="modal-body">
          <h1>Advance Search</h1>
          <form id="jobSearchForm" method="post" action="/job-search/advance" data-end="false"> 
            <div class="row mt-4">
              <div class="col-lg-6 col-12">
                <label for="job-search-input" class="form-label">Key Skills</label>
                <div class="input-container"> 
                  <div class="input-group"> 
                    <div class="input-group-prepend"> 
                      <div class="input-group-text border-radius-none border">
                        <i class="bi bi-search"></i>
                      </div> 
                    </div> 
                    <input type="text" class="form-control border border-radius-none" placeholder="Job title/ keywords" maxlength="80" name="title" value=""> 
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-12">
                <label for="job-search-input" class="form-label">Location</label>
                <div class="input-container" id="search-by-location">
                  <div class="input-group"> 
                    <div class="input-group-prepend"> 
                      <div class="input-group-text border-radius-none border">
                        <i class="bi bi-geo-alt-fill"></i>
                      </div> 
                    </div> 
                  <input type="text" class="form-control border border-radius-none" placeholder="Location" maxlength="80" name="location" value=""> </div>
                </div>
              </div>
            </div>
            <div class="row">
              <label class="form-label">Experience</label>
              <div class="col-lg-6 col-12">
                <select class="form-select border border-radius-none" aria-label="Years">
                  <option selected>Years</option>
                  {% for i in range(1,11) %}
                  <option value="{{i}}">{{i}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-lg-6 col-12 month-select-wrapper">
                <select class="form-select border border-radius-none" aria-label="Months">
                  <option selected>Months</option>
                  {% for i in range(1,11) %}
                  <option value="{{i}}">{{i}}</option>
                  {% endfor %} 
                </select>
              </div>
            </div>
             <div class="row">
              <div class="col-lg-6 col-12">
                <label for="job-search-input" class="form-label">Industry</label>
                <select class="form-select border border-radius-none" aria-label="Industry">
                  <option selected>Industry</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                </select>
              </div>
              <div class="col-lg-6 col-12">
                <label for="job-search-input" class="form-label">Function</label>
                <select class="form-select border border-radius-none" aria-label="Function">
                  <option selected>Function</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                </select>
              </div>
            </div>
            <div class="row mt-4">
              <div class="btn-wrapper">
                <button type="button" type="submit" class="btn-secondary form-control yellow-button">Search Jobs</button>
              </div>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>