<div class="container-fluid announcement-alert-section px-md-5">
	<div class="container container-warning">
		<div class="warning-img-title">
			<img src="assets/img/landingpage/Icon metro-warning@2x.png">
			<h4>Announcement/alert section</h4>
		</div>
		<div class="warning-description">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempor diam eget consequat varius. Aenean eget lectus sit amet dolor facilisis tempus. Etiam commodo felis in odio gravida, a porta dolor congue. In in gravida lorem, eu elementum odio. Ut suscipit arcu tellus, in venenatis urna volutpat quis. Duis molestie congue maximus. Quisque gravida nulla sed cursus euismod. In placerat quis enim in scelerisque. In sed elementum orci. Proin scelerisque ut tortor auctor rutrum. Nunc fringilla orci ullamcorper lorem accumsan, quis suscipit mauris semper.</p>
		</div>
	</div>
</div>