<ul class="nav nav-tabs" id="applicationTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="all-tab" data-bs-toggle="tab" data-bs-target="#all" type="button" role="tab" aria-controls="all" aria-selected="true">All</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="job-sent-tab" data-bs-toggle="tab" data-bs-target="#job-sent" type="button" role="tab" aria-controls="job-sent" aria-selected="false">Job Sent</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="rejected-tab" data-bs-toggle="tab" data-bs-target="#rejected" type="button" role="tab" aria-controls="rejected" aria-selected="false">Rejected</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="saved-tab" data-bs-toggle="tab" data-bs-target="#saved" type="button" role="tab" aria-controls="saved" aria-selected="false">Saved Jobs</button>
  </li>
</ul>