{% import 'macros/path.html' as f %}

{% import 'macros/site.html' as s %}

<div class="search-box">
	<form id="companySearchForm" method="post" action="/company-search" data-end="false"> 
		<div class="row">
			<div class="col-lg-6 col-md-12 col-sm-12">
				<div class="input-group"> 
					<div class="input-group-prepend"> 
						<div class="input-group-text border-radius-none">
							<i class="bi bi-search"></i>
						</div> 
					</div> 
					<input type="text" class="form-control" placeholder="Search by Company Name" maxlength="80" name="title" value=""> 
				</div>
			</div>
			<div class="col-lg-6 col-md-12 col-sm-12">
				<div class="row">
					<div class="col-lg-8 col-md-12 col-sm-12">
						<select class="form-select form-control" aria-label="Industry">
						  <option selected><i class="bi bi-alarm-fill"></i>Industry</option>
						  <option value="1">One</option>
						  <option value="2">Two</option>
						  <option value="3">Three</option>
						</select>
					</div>
					<div class="col-lg-4 col-md-12 col-sm-12 d-grid gap-2 mx-auto">
						<button type="submit" class="form-control btn btn-secondary">Search</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>