{% import 'macros/path.html' as f %}
<div class="modal fade" id="apply-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
          <div class="row">
            <div class="col-6 text-center border-end border-1 border-dark">
                <h1>90%</h1>
                <p>Your Skill Match</p>
            </div>
            <div class="col-6 text-center pt-3">
                <h2>UI/UX Designer</h2>
                <h4>Petroliam Nasional Ber..</h4>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-6 ps-5">
                <h3>Skill</h3>
                <p>Education</p>
                <p>Year of Experience</p>
                <p>Skills</p>
                <p>Languages</p>
            </div>
            <div class="col-6 text-center">
                <h3>Skill Match</h3>
                <p><img src="{{f.jobs_search_img('x-icon.png')}}"></p>
                <p><img src="{{f.jobs_search_img('tick-icon.png')}}"></p>
                <p><img src="{{f.jobs_search_img('tick-icon.png')}}"></p>
                <p><img src="{{f.jobs_search_img('tick-icon.png')}}"></p>
            </div>
          </div>
          <div class="row mt-4 px-3">
            <div class="col-lg-6 btn-wrapper">
              <button type="button" class="btn-secondary form-control yellow-button apply-job-modal-btn" data-bs-dismiss="modal">Apply Now</button>
            </div>
            <div class="col-lg-6 btn-wrapper">
              <button type="button" class="btn-secondary form-control" data-bs-dismiss="modal">Cancel</button>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>