{% import 'macros/path.html' as f %}

	<div class="row sort-filter-mobile-container d-lg-none mb-3">
		
			<div class="col-8 sort-by border-end">
				<form id="sortByJobForm" method="post" action="/job-search/sort-by" data-end="false"> 
					<select class="form-select form-control" aria-label="Default select example">
					  <option selected>Sort</option>
					  <option value="0">Oldest - Newest</option>
					  <option value="1">Option 2</option>
					  <option value="2">Option 3</option>
					</select>
				</form>
			</div>
		
		<div class="col-4 filter-by">
			<button class="form-control" id="filter-by-btn" >Filter <i class="bi bi-funnel"></i></button>
		</div>
	</div>


<div class="job-filter-side-bar d-none d-lg-block">
	<form id="filterJobForm" method="post" action="/job-search/filter-by" data-end="false"> 
		<div class="row mb-3">
			<h5>Related Categories</h5>
			<div class="row list-check-box">
				<ul class="read-more-wrap">
					<li><span>Remote</span></li>
					<li><span>Full time</span></li>
					<li><span>Part time</span></li>
					<li><span>Freelance</span></li>
					<span id="more-1" class="more"> 
						<li><span>Remote</span></li>
						<li><span>Freelance</span></li>
					</span>
				</ul>
				<span id="show-more-1" data-id = "more-1" data-button-id = "show-more-1" class="show-more"><i class="bi bi-chevron-down"></i> More</span>
			</div>
		</div>

		<div class="row mb-3">
			<div class="row">
				<div class="col-9">
					<h5>Company</h5>
				</div>
				<div class="col-3">
					<span class="clear-all" data-chk-class = "company-ckb" >Clear</span>
				</div>	
			</div>
			<div class="row list-check-box">
				{% for i in range(1,4) %}
				<div class="form-check">
				  <input class="form-check-input company-ckb" type="checkbox" value="" id="companyCheck{{i}}">
				  <label class="form-check-label" for="companyCheck{{i}}">
				    Sub Category
				  </label>
				</div>
				{% endfor %}
				<div class="row more" id="more-2">
					{% for i in range(5,8) %}
					<div class="form-check">
					  <input class="form-check-input company-ckb" type="checkbox" value="" id="companyCheck{{i}}">
					  <label class="form-check-label" for="companyCheck{{i}}">
					    Sub Category
					  </label>
					</div>
					{% endfor %}	
				</div>
				<span data-id = "more-2" data-button-id = "show-more-2" id="show-more-2" class="show-more"><i class="bi bi-chevron-down"></i> More</span>
			</div>
		</div>

		<div class="row mb-3">
			<div class="row">
				<div class="col-9">
					<h5>Categories</h5>
				</div>
				<div class="col-3">
					<span class="clear-all" data-chk-class = "category-ckb">Clear</span>
				</div>	
			</div>
			<div class="row list-check-box">
				{% for i in range(1,4) %}
				<div class="form-check">
				  <input class="form-check-input category-ckb" type="checkbox" value="" id="categoryCheck{{i}}">
				  <label class="form-check-label" for="categoryCheck{{i}}">
				    Sub Category
				  </label>
				</div>
				{% endfor %}
				<div class="row more" id="more-3">
					{% for i in range(5,8) %}
					<div class="form-check">
					  <input class="form-check-input category-ckb" type="checkbox" value="" id="categoryCheck{{i}}">
					  <label class="form-check-label" for="categoryCheck{{i}}">
					    Sub Category
					  </label>
					</div>
					{% endfor %}	
				</div>
				<span data-id = "more-3" data-button-id = "show-more-3" id="show-more-3" class="show-more"><i class="bi bi-chevron-down"></i> More</span>
			</div>
		</div>

		<div class="row mb-3">
			<div class="row">
				<div class="col-9">
					<h5>Related Categories</h5>
				</div>
				<div class="col-3">
					<span class="clear-all" data-chk-class = "related-cat-ckb">Clear</span>
				</div>	
			</div>
			<div class="row list-check-box">
				{% for i in range(1,4) %}
				<div class="form-check">
				  <input class="form-check-input related-cat-ckb" type="checkbox" value="" id="relateCategoryCheck{{i}}">
				  <label class="form-check-label" for="relateCategoryCheck{{i}}">
				    Sub Category
				  </label>
				</div>
				{% endfor %}
				<div class="row more" id="more-4">
					{% for i in range(5,8) %}
					<div class="form-check">
					  <input class="form-check-input related-cat-ckb" type="checkbox" value="" id="relateCategoryCheck{{i}}">
					  <label class="form-check-label" for="relateCategoryCheck{{i}}">
					    Sub Category
					  </label>
					</div>
					{% endfor %}	
				</div>
				<span data-id = "more-4" data-button-id = "show-more-4" id="show-more-4" class="show-more"><i class="bi bi-chevron-down"></i> More</span>
			</div>
		</div>

		<div class="row mb-3">
			<div class="row">
				<div class="col-9">
					<h5>Distance</h5>
				</div>
				<div class="col-3">
					<span class="clear-all" data-chk-class = "distance-ckb">Clear</span>
				</div>	
			</div>
			<div class="row list-check-box">
				{% for i in range(1,4) %}
				<div class="form-check">
				  <input class="form-check-input distance-ckb" type="checkbox" value="" id="distanceCheck{{i}}">
				  <label class="form-check-label" for="distanceCheck{{i}}">
				    Sub Category
				  </label>
				</div>
				{% endfor %}
				<div class="row more" id="more-5">
					{% for i in range(5,8) %}
					<div class="form-check">
					  <input class="form-check-input distance-ckb" type="checkbox" value="" id="distanceCheck{{i}}">
					  <label class="form-check-label" for="distanceCheck{{i}}">
					    Sub Category
					  </label>
					</div>
					{% endfor %}	
				</div>
				<span data-id = "more-5" data-button-id = "show-more-5" id="show-more-5" class="show-more"><i class="bi bi-chevron-down"></i> More</span>
			</div>
		</div>
	</form>
	<div class="row mb-3 latest-story p-2 py-4 d-none d-lg-block">
		<div class="col-12">
			<h5>Latest story</h5>
			{% for i in range(1,5) %}
				<img class="img-fluid mb-3" src="{{f.jobs_search_img('blog-img.png')}}">
				<p class="yellow-text">Company A</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
			{% endfor%}
			<a href="#" class="yellow-text">Discover more post</a>
		</div>
	</div>
</div>