{% import 'macros/path.html' as f %}
<div class="row sort-filter-mobile-container d-lg-none mb-3">
	<div class="col-8 sort-by border-end">
		<select class="form-select form-control" aria-label="Default select example">
		  <option selected>Sort</option>
		  <option value="0">Oldest - Newest</option>
		  <option value="1">Option 2</option>
		  <option value="2">Option 3</option>
		</select>
	</div>
	<div class="col-4 filter-by">
		<button class="form-control" id="filter-by-btn" onclick="filterToggle()">Filter <i class="bi bi-funnel"></i></button>
	</div>
</div>
<div class="job-filter-side-bar d-none d-lg-block">
	<div class="row mb-3">
		<h5>Related Categories</h5>
		<div class="row list-check-box">
			<ul class="read-more-wrap">
				<li><span>Remote</span></li>
				<li><span>Full time</span></li>
				<li><span>Part time</span></li>
				<li><span>Freelance</span></li>
				<span id="more-1" class="more"> 
					<li><span>Remote</span></li>
					<li><span>Freelance</span></li>
				</span>
			</ul>
			<span onclick="toggleMoreLess('more-1', 'show-more-1')" id="show-more-1" class="show-more"><i class="fa fa-chevron-down" aria-hidden="true"></i> More</span>
		</div>
	</div>

	<div class="row mb-3">
		<div class="row">
			<div class="col-9">
				<h5>Company</h5>
			</div>
			<div class="col-3">
				<span class="clear-all" onclick="clearCheckbox('company-ckb')">Clear</span>
			</div>	
		</div>
		<div class="row list-check-box">
			{% for i in range(1,4) %}
			<div class="form-check">
			  <input class="form-check-input company-ckb" type="checkbox" value="" id="defaultCheck{{i}}">
			  <label class="form-check-label" for="defaultCheck{{i}}">
			    Sub Category
			  </label>
			</div>
			{% endfor %}
			<div class="row more" id="more-2">
				{% for i in range(5,8) %}
				<div class="form-check">
				  <input class="form-check-input company-ckb" type="checkbox" value="" id="defaultCheck{{i}}">
				  <label class="form-check-label" for="defaultCheck{{i}}">
				    Sub Category
				  </label>
				</div>
				{% endfor %}	
			</div>
			<span onclick="toggleMoreLess('more-2', 'show-more-2')" id="show-more-2" class="show-more"><i class="fa fa-chevron-down" aria-hidden="true"></i> More</span>
		</div>
	</div>

	<div class="row mb-3">
		<div class="row">
			<div class="col-9">
				<h5>Categories</h5>
			</div>
			<div class="col-3">
				<span class="clear-all" onclick="clearCheckbox('category-ckb')">Clear</span>
			</div>	
		</div>
		<div class="row list-check-box">
			{% for i in range(1,4) %}
			<div class="form-check">
			  <input class="form-check-input category-ckb" type="checkbox" value="" id="defaultCheck{{i}}">
			  <label class="form-check-label" for="defaultCheck{{i}}">
			    Sub Category
			  </label>
			</div>
			{% endfor %}
			<div class="row more" id="more-3">
				{% for i in range(5,8) %}
				<div class="form-check">
				  <input class="form-check-input category-ckb" type="checkbox" value="" id="defaultCheck{{i}}">
				  <label class="form-check-label" for="defaultCheck{{i}}">
				    Sub Category
				  </label>
				</div>
				{% endfor %}	
			</div>
			<span onclick="toggleMoreLess('more-3', 'show-more-3')" id="show-more-3" class="show-more"><i class="fa fa-chevron-down" aria-hidden="true"></i> More</span>
		</div>
	</div>

	<div class="row mb-3">
		<div class="row">
			<div class="col-9">
				<h5>Related Categories</h5>
			</div>
			<div class="col-3">
				<span class="clear-all" onclick="clearCheckbox('related-cat-ckb')">Clear</span>
			</div>	
		</div>
		<div class="row list-check-box">
			{% for i in range(1,4) %}
			<div class="form-check">
			  <input class="form-check-input related-cat-ckb" type="checkbox" value="" id="defaultCheck{{i}}">
			  <label class="form-check-label" for="defaultCheck{{i}}">
			    Sub Category
			  </label>
			</div>
			{% endfor %}
			<div class="row more" id="more-4">
				{% for i in range(5,8) %}
				<div class="form-check">
				  <input class="form-check-input related-cat-ckb" type="checkbox" value="" id="defaultCheck{{i}}">
				  <label class="form-check-label" for="defaultCheck{{i}}">
				    Sub Category
				  </label>
				</div>
				{% endfor %}	
			</div>
			<span onclick="toggleMoreLess('more-4', 'show-more-4')" id="show-more-4" class="show-more"><i class="fa fa-chevron-down" aria-hidden="true"></i> More</span>
		</div>
	</div>

	<div class="row mb-3">
		<div class="row">
			<div class="col-9">
				<h5>Distance</h5>
			</div>
			<div class="col-3">
				<span class="clear-all" onclick="clearCheckbox('distance-ckb')">Clear</span>
			</div>	
		</div>
		<div class="row list-check-box">
			{% for i in range(1,4) %}
			<div class="form-check">
			  <input class="form-check-input distance-ckb" type="checkbox" value="" id="defaultCheck{{i}}">
			  <label class="form-check-label" for="defaultCheck{{i}}">
			    Sub Category
			  </label>
			</div>
			{% endfor %}
			<div class="row more" id="more-5">
				{% for i in range(5,8) %}
				<div class="form-check">
				  <input class="form-check-input distance-ckb" type="checkbox" value="" id="defaultCheck{{i}}">
				  <label class="form-check-label" for="defaultCheck{{i}}">
				    Sub Category
				  </label>
				</div>
				{% endfor %}	
			</div>
			<span onclick="toggleMoreLess('more-5', 'show-more-5')" id="show-more-5" class="show-more"><i class="fa fa-chevron-down" aria-hidden="true"></i> More</span>
		</div>
	</div>

	<div class="row mb-3 latest-story p-2 py-4 d-none d-lg-block">
		<div class="col-12">
			<h5>Latest story</h5>
			{% for i in range(1,5) %}
				<img class="img-fluid mb-3" src="{{f.jobs_search_img('blog-img.png')}}">
				<p class="yellow-text">Company A</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
			{% endfor%}
			<a href="#" class="yellow-text">Discover more post</a>
		</div>
	</div>
</div>
<script src="{{ f.js('job.min.js') }}"></script>