{% import 'macros/path.html' as f %}

{% import 'macros/site.html' as s %}

<div class="search-box">
	<div class="row">
		<div class="col-lg-6 col-md-12 col-sm-12">
			<div class="row">
				<div class="col-12">
					<input type="text" class="form-control py-2 px-3"
					placeholder="&#xF002;  Search by Job Title, Company & Skills"
					name="search-by-job-title">
				</div>
			</div>
			<div class="row mt-3">
				<div class="col-lg-6 col-md-12 col-sm-12">
					<input type="text" class="form-control py-2 px-3"
					placeholder="Job Type"
					name="search-by-job-type">
				</div>
				<div class="col-lg-6 col-md-12 col-sm-12">
					<input type="text" class="form-control py-2 px-3"
					placeholder="Job Category"
					name="search-by-job-type">
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-12 col-sm-12">
			<div class="row">
				<div class="col-lg-9 col-md-12 col-sm-12">
					<div class="row">
						<div class="col-12">
							<input type="text" class="form-control py-2 px-3"
							placeholder="&#xF041;  Location"
							name="search-by-location">
						</div>
					</div>
					<div class="row mt-3">
						<div class="range-slider">
						   	<div class="row slider-labels">
							    <div class="col-12 col-lg-6 caption mb-2">
							     Min Salary: MYR <output id="minSalaryO">3500</output>
							     <input type="range" class="custom-range slider" min="1500" max="10000" step="500" id="minSalary" oninput="minSalaryO.value=minSalary.value" value="1500">
							    </div>
							    <div class="col-12 col-lg-6 max-salary caption">
							      Max Salary: MYR <output id="maxSalaryO">50000</output>
							      <input type="range" class="custom-range slider" min="10000" max="30000" step="500" id="maxSalary" oninput="maxSalaryO.value=maxSalary.value" value="30000">
							    </div>
						  	</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-12 col-sm-12">
					<button class="form-control btn btn-secondary p-4 yellow-button">Search Now</button>
				</div>
			</div>
		</div>
	</div>
</div>