{% import 'macros/path.html' as f %}
<div class="col-lg-2 col-md-12 col-sm-12">
    <div class="personal-avatar">
        <img class="img-fluid" src="{{ f.profile_img('avatar_none.png') }}">
    </div>
</div>
<div class="col-lg-2 col-md-12 col-sm-12 basic-info">
    <div class="username">John Doe</div>
    <div class="user-info info-1 mb-2">Information line 1</div>
    <div class="user-info info-2 mb-2">Information line 2</div>
    <div class="user-info info-3">Information line 3</div>
</div>
<div class="col-lg-8 col-md-12 col-sm-12 edit-profile">
     <button class="btn btn-edit-profile"><span>Edit My Profile</span></button>
</div>