    {# <ul class="nav justify-content-center tab-view-details">
        <li class="nav-item">
            <a class="nav-link active" href="#view-requirement">Requirement</a>
        </li> #}
<ul class="nav nav-tabs">
  <li class="nav-item" >
    <button class="nav-link active" id="profile-tab" href="#profile"  data-bs-toggle="tab" aria-controls="profile" aria-selected="true">My Profile</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="experience-tab" href="#experience" data-bs-toggle="tab" aria-controls="experience" aria-selected="false">Experience</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="education-tab" href="#education" data-bs-toggle="tab" aria-controls="education" aria-selected="false">Education</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="skills-tab" href="#skills" data-bs-toggle="tab" aria-controls="skills" aria-selected="false">Skills</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="languages-tab" href="#languages" data-bs-toggle="tab" aria-controls="languages" aria-selected="false">Languages</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="settings-tab" href="#settings" data-bs-toggle="tab" aria-controls="settings" aria-selected="false">Settings</button>
  </li>  
</ul>