{% import 'macros/path.html' as f %}
<div class="col-lg-2 col-md-12 col-sm-12 my-resume">
    <div class="resume-personal-avatar">
        <img class="img-fluid" src="{{ f.profile_img('avatar_2x.png') }}">
        <div class="edit-personal-avatar"><span>Remove / Edit</span></div>
    </div>
</div>
<div class="col-lg-2 col-md-12 col-sm-12 resume-info">
    <div class="username">Jobseeker Full Name</div>
    <div class="user-info info-1 mb-2">Information line 1</div>
    <div class="user-info info-2 mb-2">Information line 2</div>
    <div class="user-info info-3">Information line 3</div>
</div>
<div class="col-lg-8 col-md-12 col-sm-12">
    <div class="row">
        <div class="col-lg-12 icons-range">
            <img class="img-fluid icon-download" src="{{ f.profile_img('icon_download_2x.png') }}">
            <img class="img-fluid icon-printer" src="{{ f.profile_img('icon_printer_2x.png') }}">
        </div>
    </div>
     <div class="row">
         <div class="col-lg-12 upload-resume">
            <button class="btn btn-upload-resume" data-bs-toggle="modal" data-bs-target="#upload-resume"><i class="bi bi-upload"></i><span>Upload My Resume</span></button>
         </div>
    </div>
</div>
 {% include 'partials/_upload-resume-modal.html' %}