{% import 'macros/path.html' as f %}
<div class="modal fade" id="upload-resume" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal-upload-resume">
      <div class="modal-body">
          <form id="upload-resume-form">
          <div class="row">
              <div class="col-12 title">
                  <h1>Upload Resume</h1>
              </div>
          </div>
          <div class="row">
              <div class="col-12 note">
                  <ul>
                      <li>File must be in <strong>PDF (.pdf)</strong> or <strong>MS Word (.docx)</strong> format.</li>
                      <li>File must not exceed <strong>30KB</strong>.</li>
                  </ul>
              </div>
              <div class="col-12 upload-file">
                <div class="file-upload-wrapper" data-text="Choose file">
                    <input name="file-upload-field" type="file" class="file-upload-field" value="">
                </div>
              </div>
          </div>
          <div class="row mt-4">
            <div class="col-lg-6 btn-wrapper">
              <button type="button" class="btn-secondary form-control yellow-button upload-resume">Upload</button>
            </div>
            <div class="col-lg-6 btn-wrapper">
              <button type="button" class="btn-secondary form-control" data-bs-dismiss="modal">Cancel</button>
            </div>
          </div>
          <div class="row mt-4 latest">
              <div class="col-12 title">
                  <h1>Latest Resume</h1>
              </div>
          </div>
          <div class="row file">
            <div class="col-lg-4"><strong>File name</strong></div>
            <div class="col-lg-8">Jane-Doe-Resume.pdf</div>
          </div>
          <div class="row uploaded">
            <div class="col-lg-4"><strong>Uploaded</strong></div>
            <div class="col-lg-6"><span>31 Aug 2021 </span><span class="upload-time">03:21PM</span></div>
            <!-- <div class="col-lg-3">31 Aug 2021</div>
            <div class="col-lg-3">03:21PM</div> -->
          </div>
          <div class="row mt-3 resume-note">
              <ul>
                  <li>Note : All employers are accessible to your latest resume</li>
              </ul>
          </div>
          <div class="row mt-4">
            <div class="col-lg-6 btn-wrapper">
              <button type="button" class="btn-secondary form-control yellow-button upload-resume">View</button>
            </div>
            <div class="col-lg-6 btn-wrapper">
              <button type="button" class="btn-secondary form-control" data-bs-dismiss="modal" id="remove-btn">Remove / Replace</button>
            </div>
          </div>
          </form>
      </div>
    </div>
  </div>
</div>