.company-search-box{
	
	
	@include media-breakpoint-up(lg)  {
		height: 470px;
		background: url("../img/companies/main/company-header-bg.png") no-repeat center,
		linear-gradient(rgba(0, 0, 0, 0.68), rgba(0, 0, 0, 0.68));
		background-blend-mode: overlay;
		background-size: cover;
		opacity: 0.9;

	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	    -ms-flex-direction: column;
	    flex-direction: column;
	    -webkit-box-pack: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	    overflow: auto;

	}
	@include media-breakpoint-down(lg)  {
		margin-top: 50px;
		padding-left: 0px;
		padding-right: 0px;
		background-color: $lightYellowButton;
	}

	
	.search-box{

	   	@include media-breakpoint-up(lg)  {
	   		background-color: $lightYellowButton;
		    display: -webkit-box;
		    display: -ms-flexbox;
		    display: flex;
		    -webkit-box-orient: vertical;
		    -webkit-box-direction: normal;
		    -ms-flex-direction: column;
		    flex-direction: column;
		    -webkit-box-pack: center;
		    -ms-flex-pack: center;
		    justify-content: center;
		    overflow: auto;
		    padding: 40px;
		}
		@include media-breakpoint-down(lg)  {
			padding: 25px;
		}
		input{
			font-family:Arial, FontAwesome;
			border-radius: 0px;
			border: none;
		}
		select, button{
			border-radius: 0px;
			border: none;
			@include media-breakpoint-down(lg)  {
				margin-top: 10px;
			}
		}
		button{
			background-color: $blackButton;
			color: $whiteColor;
			@include media-breakpoint-down(lg)  {
				margin-bottom: 10px;
			}
		}

	}
}
.company-body{
	margin-top: 40px;
	padding-top: 70px;
	color: $navBgColor;
	@include media-breakpoint-down(lg)  {
		padding-top: 40px;
	}
	.company-item-container{
		padding: 10px;
		@include media-breakpoint-down(lg)  {
			padding: 30px;
		}
		.item-container{
			background-color: $whiteColor;
			border-radius: 0px;
			padding: 20px;
			box-shadow: 0px 0px 3px #00000059;
			@include media-breakpoint-down(lg)  {
				text-align: center;
			}
			.hiring-tag{
				    margin-bottom: 21px;
				    margin-top: -20px;
				    width: 100%;
				    height: 14px;
				span{
					background-color: #2DCE89;
					padding: 5px 15px 5px 15px;
					border-radius: 0px;
					color:$whiteColor;
					font-weight: bold;
					float: right;
				}
			}
			
			img{
				margin-bottom: 20px;
			}
			h3{
				font-size: 18px;
			}
			p{
				font-size: 14px;
   	  			color:$textGrayColor;
			}
		}
		
	}
	.btn-wrapper{
		padding-left: 9px;
		padding-right: 9px;
		@include media-breakpoint-down(lg)  {
			padding-left: 30px;
			padding-right: 30px;
		}
		#company-show-more{
			border: none;
			background-color: $yellowButton;
			color: #303842;
			margin-bottom: 50px;
			margin-top: 20px;
			height: 50px;
			@include media-breakpoint-down(lg)  {
				margin-top: 0px;
				margin-bottom: 30px;
			}
		}
	}
	.adv-imgs{
		img{
			margin-bottom: 10px;
			width: 200px;
		}
	}
	.company-header{
		@include media-breakpoint-down(lg)  {
			text-align: center;
		}
		background-color: $whiteColor;
		padding: 15px;
		img{
			height: 155px;
		}
		h3{
			margin-bottom: 15px;
		}
		.company-rating-container{
			margin-bottom: 15px;
			h1{
				width: auto;

			}
			span{
				width: auto;
				float: left;
				p{
					margin-bottom: 0px;
					color: $textGrayColor;
				}
				.star-rating-icon{
					height: 20px;
					@include media-breakpoint-down(lg)  {
						height: 14px;
					}
				}
			}
			.badge-icon{
				width: auto;
				float: left;
    			height: 54px;
    			margin-left: 7px;
    			@include media-breakpoint-down(lg)  {
    				height: 28px;
    				margin-left: 2px;
				}
			}
		}
		p{
			text-align: left;
		}
		.company-description{
			@include media-breakpoint-up(lg)  {
				width: 80%;
			}
			.read-more-state {
			  display: none;
			}

			.read-more-target {
			  opacity: 0;
			  max-height: 0;
			  font-size: 0;
			  transition: .25s ease;
			}

			.read-more-state:checked ~ .read-more-wrap .read-more-target {
			  opacity: 1;
			  font-size: inherit;
			  max-height: 999em;
			}

			.read-more-state ~ .read-more-trigger:before {
			  content: 'Show more';
			}

			.read-more-state:checked ~ .read-more-trigger:before {
			  content: 'Show less';
			}

			.read-more-trigger {
			    cursor: pointer;
			    display: inline-block;
			    line-height: 2;
			   	padding-right: 50px;
			    &::before{
			    	float: right;
			    	@include media-breakpoint-down(lg)  {
			    		float: left;
			    	}
			    	width: auto;
			    }
			  
			}
		}
		
	}
	.company-nav-tab{
		margin-top: 10px;
		margin-bottom: 10px;
		background-color: $whiteColor;
		box-shadow: 0px 3px 3px #0000001A;
		.nav-tabs{
			border-bottom: none;
			.nav-item{
				border-radius: 0px;
				.active{
					border-color: $whiteColor;
					border-bottom: 3px solid $yellowButton;;
				}
				button{
					height:55px;
					@include media-breakpoint-down(lg)  {
						height:45px;
					}
				}
			}
			
		}
	}
	.company-overview{
		background-color: $whiteColor;
		padding: 0px;
		.overview-content-body{
			padding: 20px 40px 20px 40px;
			@include media-breakpoint-down(lg)  {
				padding: 20px;
			}
		}
		#companyTabContent{
			#overview{
				.carousel-indicators{
					@include media-breakpoint-down(lg)  {
				    	margin-bottom: 0px;
				    }
					button{
						width: 10px;
						height: 10px;
						border-radius: 50%;

					}
				}
				.carousel-item {
				    height: 324px;
				    @include media-breakpoint-down(lg)  {
				    	height: 120px;
				    }
				}
				.overview-content-body{
					.row{
						h3{
							font-size: 30px;
					    	@include media-breakpoint-down(lg)  {
					    		font-size: 18px;
					    	}
						}
						p{
							font-size: 14px;
					    	@include media-breakpoint-down(lg)  {
					    		font-size: 12px;
					    	}
						}
						h4{
							font-size: 18px;
					    	@include media-breakpoint-down(lg)  {
					    		font-size: 14px;
					    	}
						}
					}
				}
			}
			#jobs{
				margin-top: 0px;
				.job-card{
					.job-card-container{
						box-shadow: none;
						border: 1px solid #707070;
						border-bottom: none;
					}
					.card-footer{
						border: 1px solid #707070;
						border-top: none;
					}
				}
				.see-more{
					padding-left: 10px;
					padding-right: 10px;
					button{
						background-color: $yellowButton;
						color: $navBgColor;
						border: none;
						padding: 15px;
						font-weight: bold;
						font-size: 14px;
				    	
					}
					
				}
				.job-listed-text{
					font-size: 14px;
					color: $textGrayColor;
				}
			}
			#reviews{
				.write-review-wrapper{
					padding-left: 10px;
					padding-right: 10px;
					button{
						background-color: $yellowButton;
						color: $navBgColor;
						border: none;
						padding: 15px;
						font-weight: bold;
						font-size: 18px;
				    	
					}
				}
				.review-avatar-rate{
					.company-rating-container{
						h1{
							width: auto;
							float: left;

						}
						span{
							width: auto;
							float: left;
							margin-left: 10px;
							p{
								margin-bottom: 0;
    							color: $textGrayColor;
							}
						}		
					}
					.review-dropdown{
						.dropdown-toggle{
							margin-left: -16px;
							&::after{
								margin-left: 20px;
								margin-top: 20px;
							}
						}
						.review-dropdown-menu{
							box-shadow: 0px 3px 6px #00000029;
							margin-left: 26px !important;
							padding: 10px;
							h1{
								font-size: 30px;
							}
							span{
								p{
									margin-bottom: 0;
	    							color: $textGrayColor;
								}

							}
						}
					}
				}
				.review-body{
					.date-poted{
						font-size: 12px;
						color: $textGrayColor;
					}
				}
			}
		}
		
	}
}
