/* style for common page : terms of use, privacy*/
.term-of-use, .privacy {
    margin-top: 30px;
    h5 {
        font-size: 32px;
        font-weight: bold;
    }
    p ol li {
        font-size: 18px;
    }
}