@import "var";

footer {
    .sitemap {
        .container-fluid {
            max-width: 1335px;
            margin-top: 40px;
            a {
                text-decoration: none;
            }
            .jobs-by {
                h6 {
                    font-size: $fontSize14;
                    color: $prime3;
                }
                @include media-breakpoint-up(lg) {
                    h6 {
                        margin-left: 0;
                    }
                }
                ul.list {
                    padding-left: 0;
                    list-style-type: none;

                    li.align {
                        margin-bottom: 12px;
                        display: inline-block;
                    }
                    @include media-breakpoint-down(sm) {
                        width: 100%;
                        span.split {
                            display: none;
                        }
                        li {
                            width: 50%;
                        }
                        li:nth-child(even) {
                            display: inline;
                            margin-left: 15px;
                        }
                    }
                }
            }
            .horizontal-line {
                border-bottom: 1px solid $prime5;
            }
            .space-line {
                height: 40px;
                margin-bottom: 25px;
                margin-left: 12px;
                margin-right: 12px;
            }
            @include media-breakpoint-down(sm) {
                .space-line {
                    height: 0;
                }
                .custom-line {
                    display: none;
                }
            }
            @include media-breakpoint-up(md) {
                .custom-line {
                    margin-right: 7.5%;
                }
            }
            .about-contact {
                margin-top: 60px;

                .title {
                    font-weight: bold;
                }

                @include media-breakpoint-between(md, lg) {
                    .font-item {
                        width: 100%;
                    }
                }

                @include media-breakpoint-between(sm, md) {
                    margin-top: 30px;

                    .title {
                        margin-top: 35px;
                    }

                    .contact-section {
                        width: 50%;
                        .social-buttons i {
                            font-size: 15px;
                        }
                    }
                }

                @include media-breakpoint-down(sm) {
                    margin-top: 0;
                    .title {
                        margin-top: 25px;
                    }
                    .font-item:nth-child(even) {
                        div.content {
                            margin-left: 15px;
                        }
                    }
                    .font-item {
                        width: 50%;
                    }
                }
                .item {
                    font-size: $fontSize12;
                    margin-bottom: 5px;
                    width: 100%;

                    i.fa.fa-map-marker {
                        font-size: 15px;
                        margin-right: 3px;
                    }
                }
                .footleft-text {
                    @include media-breakpoint-up(xl) {
                        div {
                            max-width: 400px;
                        }
                    }
                    @include media-breakpoint-between(md, xl) {
                        div {
                            max-width: 300px;
                        }
                    }
                    @include media-breakpoint-down(md) {
                        div {
                            width: 100%;
                        }
                    }
                    @include media-breakpoint-up(lg) {
                        margin-left: 0;
                    }
                }
                .row-cols-auto {
                    margin-left: -12px;
                    margin-top: 20px;

                    span {
                        margin-left: 10px;
                    }
                }
                @include media-breakpoint-down(sm) {
                    .contact-section {
                        margin-top: 35px;
                        width: 49%;

                        .row-cols-auto {
                            display: block;
                        }
                        .social-buttons i {
                            font-size: inherit;
                            margin-right: 0;
                        }
                    }
                    .socials-section {
                        .title {
                            margin-left: 15px;
                        }
                        .social-buttons {
                            margin-left: 0;
                        }
                    }
                }
            }
            .privacy-section {
                .policy-and-terms {
                    .privacy {
                        margin-right: 10px;
                    }
                }

                @include media-breakpoint-between(sm, md) {
                    .bottom-text,
                    .policy-and-terms {
                        width: 50%;
                    }
                }

                @include media-breakpoint-up(md) {
                    .desktop-section {
                        float: right;
                    }
                }

                @include media-breakpoint-down(md) {
                    .social-buttons {
                        display: none !important;
                    }
                    .privacy {
                        padding-bottom: 0;
                    }
                }

                @include media-breakpoint-down(sm) {
                    .bottom-text {
                        margin-top: 60px;
                        margin-bottom: 10px;
                    }
                    .policy-and-terms {
                        width: 100%;
                        margin-bottom: 35px;
                        .row {
                            width: 100%;
                            .privacy-policy {
                                width: 49%;
                                a.terms {
                                    margin-left: 15px;
                                }
                            }
                        }
                        a.privacy {
                            margin-left: -12px;
                        }
                    }
                }
            }
            @include media-breakpoint-up(md) {
                .privacy-section {
                    margin-right: 7%;
                }
            }
        }
    }
}
