.job-description {
    .full-page {
        background: #f4f4f6 0% 0% no-repeat padding-box;
        //right: 0;
        top: 0;
        left: 0;
        width: 1920px;
        height: 3096px;
        margin-top: -100px;
        margin-left: -300px;
        //position: absolute;
        opacity: 1;
    }
    .main-image img {
        top: 225px;
        left: 353px;
        width: 1215px;
        height: 316px;
        margin-left: -12px;
        position: absolute;
    }
    .job-scope {
        top: 540px;
        left: 353px;
        width: 1215px;
        height: 221px;
        position: absolute;
        background: #ffffff 0% 0% no-repeat padding-box;
        opacity: 1;
        .job-title {
            top: 570px;
            left: 384px;
            width: 208px;
            height: 37px;
            letter-spacing: 0px;
            color: #222e3c;
            opacity: 1;
            text-align: center;
            font-size: 30px;
            font-style: normal;
        }
        .job-company {
            top: 615px;
            left: 383px;
            width: 320px;
            height: 22px;
            text-align: left;
            margin-left: 5px;
            letter-spacing: 0px;
            color: #222e3c;
            opacity: 1;
            font-size: 18px;
        }
        .company-logo img {
            top: 558px;
            left: 1446px;
            width: 104px;
            height: 104px;
            float: right;
        }
        .job-base {
            //margin-left: 5px;
            img {
                top: 667px;
                left: 386px;
                width: 15px;
                height: 21px;
                /* background: #222E3C 0% 0% no-repeat padding-box; */
                opacity: 1;
            }
            span {
                margin-left: 5px;
            }
        }
        .salary {
            .coins-icon {
                top: 668px;
                left: 815px;
                width: 20px;
                height: 20px;
            }
            .lock-icon {
                top: 670px;
                left: 905px;
                width: 15px;
                height: 17px;
            }
            span {
                margin: 0 5px 0 5px;
            }
        }
        .job-type {
            //margin-left: 5px;
            .clock-icon {
                top: 711px;
                left: 384px;
                width: 18px;
                height: 18px;
            }
            .btn-job-type {
                top: 701px;
                left: 414px;
                width: 122px;
                height: 36px;
                background: #5e72e4 0% 0% no-repeat padding-box;
                opacity: 1;
                border-radius: 0;
                span {
                    letter-spacing: 1.62px;
                    color: #ffffff;
                    opacity: 1;
                    font-size: 18px;
                    text-align: center;
                }
            }
        }
        .job-experience {
            .briefcase-icon {
                top: 711px;
                left: 815px;
                width: 20px;
                height: 18px;
            }
        }
        .job-post {
            span {
                top: 713px;
                left: 1424px;
                width: 124px;
                height: 18px;
                letter-spacing: 0px;
                color: #acadb1;
                opacity: 1;
                font-size: 14px; //18px;
                text-align: left;
                float: right;
            }
        }
    }
    .buttons-range {
        top: 761px;
        left: 353px;
        width: 1215px;
        height: 51px;
        position: absolute;
        button {
            width: 303px;
            height: 50px;
            text-transform: uppercase;
            //margin-left: 1px;
            border-radius: 0;
            span {
                margin-left: 3px;
            }
        }
        .btn-share,
        .btn-view-location,
        .btn-apply {
            margin-left: 1px;
        }
    }
    .details-job-requirement {
        top: 831px;
        left: 353px;
        width: 1060px;
        height: 1071px;
        background: #ffffff 0% 0% no-repeat padding-box;
        opacity: 1;
        position: absolute;
        .row-requirement {
            .title {
                top: 881px;
                left: 383px;
                width: 189px;
                height: 37px;
                margin-top: 50px;
                letter-spacing: 0px;
                color: #222e3c;
                opacity: 1;
                font-size: 30px;
            }
            .details {
                top: 882px;
                left: 633px;
                width: 716px;
                height: 148px;
                letter-spacing: 0px;
                color: #222e3c;
                opacity: 1;
                font-size: 15px;
                text-align: left;
                margin-top: 50px;
                margin-left: 50px;
            }
        }
        .row-scope {
            margin-top: 150px;
            .title {
                top: 1180px;
                left: 383px;
                width: 225px;
                height: 75px;
                text-align: left;
                font-size: 30px;
                letter-spacing: 0px;
                color: #222e3c;
                opacity: 1;
            }
            .details {
                top: 1181px;
                left: 633px;
                width: 683px;
                height: 70px;
                margin-left: 10px;
                text-align: left;
                font-size: 15px;
                letter-spacing: 0px;
                color: #222e3c;
                opacity: 1;
            }
        }
        .row-info {
            margin-top: 150px;
            .title {
                top: 1401px;
                left: 383px;
                width: 212px; //201px;
                height: 37px;
                letter-spacing: 0px;
                color: #222e3c;
                opacity: 1;
                font-size: 30px;
                text-align: left;
            }
            .details {
                top: 1401px;
                left: 633px;
                width: 750px;
                height: 126px;
                margin-left: 25px;
                letter-spacing: 0px;
                color: #222e3c;
                opacity: 1;
                font-size: 15px;
                text-align: left;
            }
        }
        .row-website {
            margin-top: 50px;
            .title {
                top: 1587px;
                left: 383px;
                width: 112px;
                height: 37px;
                letter-spacing: 0px;
                color: #222e3c;
                opacity: 1;
                text-align: left;
                font-size: 30px;
            }
            .details {
                top: 1587px;
                left: 633px;
                width: 225px;
                height: 18px;
                letter-spacing: 0px;
                color: #222e3c;
                opacity: 1;
                text-align: left;
                font-size: 15px;
                margin-left: 125px;
            }
        }
        .company-size {
            margin-top: 50px;
            .title {
                top: 1684px;
                left: 383px;
                width: 220px; //195px
                height: 37px;
                letter-spacing: 0px;
                color: #222e3c;
                opacity: 1;
                text-align: left;
                font-size: 30px;
            }
            .size {
                top: 1684px;
                left: 633px;
                width: 118px;
                height: 18px;
                letter-spacing: 0px;
                color: #222e3c;
                opacity: 1;
                text-align: left;
                font-size: 15px;
                margin-left: 15px;
            }
        }
        .row-benefit {
            margin-top: 50px;
            .title {
                top: 1781px;
                left: 383px;
                width: 137px;
                height: 71px;
                letter-spacing: 0px;
                color: #222e3c;
                opacity: 1;
                text-align: left;
                font-size: 30px;
            }
            .details {
                top: 1781px;
                left: 633px;
                width: 45px;
                height: 70px;
                letter-spacing: 0px;
                color: #222e3c;
                opacity: 1;
                text-align: left;
                font-size: 15px;
                margin-left: 100px;
            }
        }
    }
    .advertisement-1 {
        position: absolute;
        top: 831px;
        left: 1418px;
        width: 139px;
        height: 137px;
        background: transparent url("../img/job/right_banner_add_1.png") 0% 0% no-repeat padding-box;
        opacity: 1;
    }
    .advertisement-2 {
        top: 985px;
        left: 1418px;
        width: 139px;
        height: 718px;
        background: transparent url("../img/job/right_banner_add_2.png") 0% 0% no-repeat padding-box;
        opacity: 1;
        position: absolute;
    }
    .row-similar-job {
        top: 1962px;
        left: 401px;
        width: 170px;
        height: 37px;
        position: absolute;
        letter-spacing: 0px;
        color: #222e3c;
        opacity: 1;
        font-size: 30px;
        text-align: left;
    }
    .see-all {
        top: 1969px;
        left: 1318px;
        width: 56px;
        height: 22px;
        position: absolute;
        letter-spacing: 0px;
        color: #f8483b;
        opacity: 1;
        font-size: 18px;
        text-align: left;
    }
}
