.full-width {
	.sank-rectangle {
		background: $yellowButton 0% 0% no-repeat padding-box;
		right: 0;
		z-index: -1;
		width: 40%;
		height: 800px;
		margin-top: -100px;
		position: absolute;
		@include media-breakpoint-down(lg) {
			display: none;
		}
	}

	@include media-breakpoint-up(lg) {
		.container-section {
			max-width: 1320px;
		}
	}

	.container-herobanner {
		@include media-breakpoint-up(lg) {
			margin-top: 100px;
		}
		@include media-breakpoint-down(lg) {
			margin-top: 40px;
			padding-left: 0px;
		}
		.herobanner {
	
			.herobanner-title {
				h3 {
					font-weight: bold;
					font-size: 48px;
					@include media-breakpoint-down(lg) {
						display: none;
					}
				}
				.categories {
					@include media-breakpoint-down(lg) {
						margin-left: 20px;
					}
					button {
						padding: 15px 20px;
						height: 52px;
						@include media-breakpoint-down(lg) {
							height: 29px;
							padding: 5px 10px;
							font-size: 9px;
							margin-right: 0px;
						}
						border: none;
						border-radius: 0px;
						background: $yellowButton 0% 0% no-repeat padding-box;
						margin-right: 10px;
						margin-top: 10px;
					}
				}
				p {
					margin-top: 280px;
					@include media-breakpoint-down(lg) {
						margin-top: 250px;
						margin-left: 20px;
					}
				}
				.search-box {
					max-width: 997px;
					z-index: 2;
					position: absolute;
					height: 104px;
					background-color: $navBgColor;
					border: none;
					border-right: 0;
					padding: 20px 15px 15px 15px;
					margin-top: 80px;
					@include media-breakpoint-down(lg) {
						margin-top: 0px;
						height: auto;
						/*width: 103%;*/
						/*min-width: 400px;*/
					}

					.row {
						.input-container {
							display: inline-block;
							height: 37px;
							padding-left: 0px;
							padding-right: 0px;
							margin-right: 5px;
							@include media-breakpoint-down(lg) {
								min-width: 320px;
								text-align: center;
								margin: auto;
								height: 40px;
							}
							input {
								border: none;
								border-radius: 0;
								font-family: Arial, FontAwesome;
								@include media-breakpoint-down(lg) {
									font-size: 12px;
								}
							}
						}

						#search-by-title-skill {
							width: 355px;
							margin-left: 17px;
							@include media-breakpoint-down(lg) {
								width: 320px;
								min-width: 320px;
								margin-left: auto;
							}
						}
						#search-by-location,
						#search-by-category {
							width: 200px;
							@include media-breakpoint-down(lg) {
								min-width: 320px;
							}
						}
						#search-button {
							width: 198px;
							@include media-breakpoint-down(lg) {
								min-width: 320px;
							}
							button {
								width: 186px;
								@include media-breakpoint-down(lg) {
									min-width: 320px;
								}
								border: none;
								border-radius: 0;
								background-color: $yellowButton;
								color: #303842;
							}
						}
					}
					.advanced-search {
						margin-top: 8px;
						margin-left: -8px;
						@include media-breakpoint-down(lg) {
							text-align: center;
							font-size: 14px;
						}
						a {
							color: $bigBtnBgColor;
							text-decoration: unset;
						}
					}
				}
			}
			.herobanner-img {
				padding-right: 0px;
				@include media-breakpoint-down(lg) {
					display: none;
				}
				img {
					@include media-breakpoint-up(lg) {
						/*max-width: 775px;*/
					}
				}
			}
			.herobanner-img-mobile {
				padding-right: 0px;
				img {
					@include media-breakpoint-up(lg) {
						display: none;
					}
					@include media-breakpoint-down(lg) {
						width: 100% !important;
					}
				}
			}
		}
	}
	.trust-by-section {
		margin: 100px 0px 50px 0px;
		@include media-breakpoint-down(lg) {
			margin: 50px 0px 50px 0px;
		}
		.container {
			.trust-company-logo {
				img {
					@include media-breakpoint-up(lg) {
						&:first-child {
							margin-left: 0px;
						}
						margin-left: 60px;
					}
				}
				#apple-logo {
					@include media-breakpoint-up(lg) {
						max-width: 82px;
						max-height: 71px;
						margin-top: 17px;
					}
					@include media-breakpoint-down(lg) {
						max-width: 40px;
						max-height: 20px;
					}
				}
				#celcom-logo {
					max-width: 199px;
					@include media-breakpoint-down(lg) {
						max-width: 77px;
					}
				}
				#maxis-logo {
					@include media-breakpoint-up(lg) {
						max-width: 200px;
						max-height: 73px;
						margin-top: 17px;
					}
					@include media-breakpoint-down(lg) {
						max-width: 63px;
						max-height: 20px;
					}
				}
				#shell-logo {
					@include media-breakpoint-up(lg) {
						max-width: 294px;
						max-height: 85px;
						margin-top: 17px;
					}
					@include media-breakpoint-down(lg) {
						max-width: 80px;
						max-height: 20px;
					}
				}
				#samsung-logo {
					@include media-breakpoint-up(lg) {
						max-width: 199px;
						max-height: 30px;
						margin-top: 46px;
					}
					@include media-breakpoint-down(lg) {
						max-width: 79px;
						max-height: 11px;
						margin-top: 7px;
					}
				}
			}
		}
	}
	.looking-job-section {
		margin-top: 30px;
		.child {
			text-align: center;
			display: flex;
			flex-direction: column;
			justify-content: center;
			overflow: auto;
			@include media-breakpoint-up(lg) {
				width: 49.5%;
				height: 671px;
			}
			@include media-breakpoint-down(lg) {
				height: 264px;
			}
			h4 {
				font-weight: bold;
				font-size: 48px;
				@include media-breakpoint-down(lg) {
					font-size: 18px;
				}
			}
			p {
				font-size: 30px;
				@include media-breakpoint-down(lg) {
					font-size: 12px;
				}
			}
		}
		#looking-job {
			background-color: $yellowButton;
		}
		#looking-people {
			color: $yellowButton;
			background: url("../img/landingpage/mask-group-16-2x.png") no-repeat center,
				linear-gradient(rgba(0, 0, 0, 0.68), rgba(0, 0, 0, 0.68));
			background-blend-mode: overlay;
			background-size: cover;
			opacity: 0.9;
			@include media-breakpoint-up(lg) {
				margin-left: 1%;
			}
			#array-dots-mobile-1 {
				@include media-breakpoint-up(lg) {
					display: none;
				}
				@include media-breakpoint-down(lg) {
					position: absolute;
					width: 50%;
					margin-bottom: 40%;
					right: 0;
					img {
						width: 65px;
						height: 65px;
						float: right;
						position: absolute;
						clip: rect(0px, 54px, 210px, 0px);
						right: 30px;
						top: -50px;
					}
				}
			}
			#array-dots-mobile-2 {
				@include media-breakpoint-up(lg) {
					display: none;
				}
				@include media-breakpoint-down(lg) {
					position: absolute;
					/*width: 100%;*/
					margin-top: 70%;
					img {
						width: 65px;
						height: 65px;
						float: left;
						margin-right: -25px;
					}
				}
			}
		}
	}
	.explore-jobs-section {
		#array-dots-desktop-1 {
			position: absolute;
			margin-top: 60px;
			z-index: 10;
			@include media-breakpoint-down(lg) {
				display: none;
			}
			img {
				height: 186px;
				clip: rect(0px, 130px, 210px, 0px);
				position: absolute;
				top: -331px;
			}
		}
		#array-dots-desktop-2 {
			position: relative;
			margin-bottom: 60px;
			width: 100%;
			z-index: 10;
			@include media-breakpoint-down(lg) {
				display: none;
			}
			img {
				height: 186px;
				clip: rect(0, 154px, 210px, 0);
				position: absolute;
				right: 0px;
				margin-top: -82px;
			}
		}
		.explore-jobs-container {
			margin-top: 200px;
			margin-bottom: 100px;
			@include media-breakpoint-between(lg, xl) {
				max-width: 1000px;
			}
			@include media-breakpoint-down(lg) {
				max-width: 357px;
				margin-top: 80px;
				margin-bottom: 80px;
				/*padding-left: 10px;*/
			}
			.explore-jobs-title {
				padding-left: 50px;
				padding-top: 10px;
				@include media-breakpoint-down(lg) {
					padding-left: 23px;
					padding-top: 0px;
				}

				h4,
				p {
					font-size: 30px;
					color: $navBgColor;
					font-weight: bold;
					@include media-breakpoint-down(lg) {
						font-size: 16px;
					}
				}
				p {
					color: $yellowButton;
				}
			}
			.row {
				margin-bottom: 30px;
				@include media-breakpoint-down(lg) {
					margin-bottom: 0px;
				}
			}
			.category-item-container {
				@include media-breakpoint-down(lg) {
					padding-bottom: 10px;
					padding-right: 10px;
				}
				.item-container {
					width: 292px;
					height: 116px;
					padding-top: 29px;
					@include media-breakpoint-between(lg, xl) {
						width: 220px;
					}
					@include media-breakpoint-down(lg) {
						width: 156px;
						height: 62px;
						padding-top: 10px;
					}

					border: none;
					border-radius: 0px;
					box-shadow: 0px 0px 12px #00000021;
					&:hover {
						background: $yellowButton 0% 0% no-repeat padding-box;
					}
					a {
						text-decoration: none;
						color: $cardTextColor;
						h3 {
							font-size: 20px;
							font-weight: bold;
							@include media-breakpoint-down(lg) {
								font-size: 14px;
							}
						}
						p {
							color: $textGrayColor;
							font-size: 15px;
							@include media-breakpoint-down(lg) {
								font-size: 10px;
							}
						}
					}
				}
			}
		}
	}
	.available-jobs-section {
		background: url("../img/landingpage/remote-office-concept@2x.png") no-repeat center,
			linear-gradient(rgba(0, 0, 0, 0.68), rgba(0, 0, 0, 0.68));
		background-blend-mode: overlay;
		background-size: cover;
		opacity: 0.9;
		padding-top: 10px;
		padding-bottom: 10px;
		.available-jobs-container {
			margin-top: 100px;
			margin-bottom: 80px;
			@include media-breakpoint-down(lg) {
				margin-top: 50px;
				margin-bottom: 30px;
			}
			.title-wrapper {
				margin-bottom: 10px;
				@include media-breakpoint-down(lg) {
					padding: 10px 30px 10px 30px;
				}
				h4 {
					font-size: 30px;
					@include media-breakpoint-down(lg) {
						font-size: 16px;
					}
					color: $bigBtnBgColor;
					span {
						color: $yellowButton;
					}
				}
				p {
					font-size: 18px;
					@include media-breakpoint-down(lg) {
						font-size: 14px;
						font-weight: 100;
					}
					color: $bigBtnBgColor;
				}
			}
			.job-cards-container {
				.job-card-show-more {
					.job-card-container {
						height: 100%;
						@include media-breakpoint-down(lg) {
							height: 400px;
						}
						text-align: center;
						display: flex;
						flex-direction: column;
						justify-content: center;
						overflow: auto;
						background-color: $yellowButton;
						color: $btnSecondaryColor;
						h4 {
							font-size: 18px;
							font-weight: bold;
						}
						p {
							font-size: 14px;
						}
					}
				}
			}
		}
	}

	.tallent-people-section{
		@include media-breakpoint-up(lg)  {
			margin-top: 100px;
			margin-bottom: 100px;
		}
		@include media-breakpoint-down(lg)  {
			margin-top: 50px;
			margin-bottom: 50px;
		}
		h4{
			font-size: 30px;
			font-weight: bold;
			@include media-breakpoint-down(lg)  {
				font-size: 18px;
				text-align: center;
				margin-bottom: 20px;
			}
		}
		button{
			font-size: 14px;
		    width: 127px;
		    height: 32px;
		    color: $navBgColor;
		    background-color: $yellowButton;
		    text-align: center;
		    width: 186px;
			border: none;
			@include media-breakpoint-down(lg)  {
				height: 37px;
				width: 100%;
			}
		}
		#text-box{
			@include media-breakpoint-up(lg)  {
				width: 395px;
				margin-left: 50px;
			}	
			text-align: left;
			display: flex;
			flex-direction: column;
			justify-content: center;
			overflow: auto;
		}
		.mobile-button-wrapper{
			text-align: center;
			margin-top: 30px;
		}
	}
	.carousel-sliders-section{
		.carousel{
			.carousel-indicators{
				margin-bottom: 0px;
				button{
					width: 10px;
					height: 10px;
					border-radius: 50%;

				}
			}
			.carousel-inner{
				.carousel-item{
						background: url("../img/landingpage/slider.png") no-repeat center, linear-gradient(rgba(0,0,0,0.68),rgba(0,0,0,0.68));
			    		background-blend-mode: overlay;
						background-size:cover;
						opacity: 0.9;
						.carousel-caption{
							margin-bottom: 40px;
							@include media-breakpoint-down(lg)  {
								margin-top: -50px;
								margin-bottom: 0px;
							}
							.caption-box{
								margin-top: 30px;
								text-align: left;
								@include media-breakpoint-down(lg)  {
    								margin-top: 192px;
    							}
								h5{
									font-size: 30px;
									@include media-breakpoint-down(lg)  {
										font-size: 14px;
									}
	
								}
								p{
									font-size: 18px;
									color: $whiteColor;
									margin-bottom: 0px;
									margin-top:30px;
									@include media-breakpoint-down(lg)  {
										font-size: 12px;
										margin-top:10px;
									}
								}
								a{
									text-decoration: none;
									color: $yellowButton;
									font-size: 18px;
									@include media-breakpoint-down(lg)  {
										font-size: 12px;
									}
								}

							}
							.img-box{
								height: 731px;
								@include media-breakpoint-down(lg)  {
									height: 100px;
								}
								img{
						        	width: 250px;
						        	@include media-breakpoint-down(lg)  {
										width: 200px;
									}	   						
								}
							}
							
						}
					
				}
			}
		}
	}
   .feature-section{
   		@include media-breakpoint-up(lg)  {
			margin-top: 100px;
			margin-bottom: 100px;
		}
		@include media-breakpoint-down(lg)  {
			margin-top: 50px;
			margin-bottom: 50px;
			padding-left: 30px;
		}
   	  	button{
	   	  	background-color: $redButton;
	   	  	width: 112px;
	   	  	color: $whiteColor;
	   	  	font-weight: bold;
	   	  	height: 32px;
	   	  	text-align: center;
	   	  	padding-top: 1px;
   	  	}
   	  	h4{	
   	  		margin-top: 20px;
   	  		margin-bottom: 20px;
   	  		font-size: 18px;	
   	  	}
   	  	p{
   	  		font-size: 14px;
   	  		color:$textGrayColor;
   	  	}
   	  	a{
   	  		font-size: 14px;
   	  		color:$textGrayColor;
   	  		text-decoration: none;
   	  	}
   }
 .subcribe-section{
   	background-color: $yellowButton;
   	@include media-breakpoint-up(lg)  {
	   	height: 211px;
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	    -ms-flex-direction: column;
	    flex-direction: column;
	    -webkit-box-pack: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	    overflow: auto;
	    padding-left: 80px;
	    padding-right: 80px;
	}
	@include media-breakpoint-down(lg)  {
		padding: 27px;
	}
   	 h2{
   	 	font-size: 30px;
   	 	font-weight: bold;
		@include media-breakpoint-down(lg)  {
			font-size: 18px;
		}
   	 }
   	 input{
   	 	@include media-breakpoint-up(lg)  {
   	 		height: 75px;
   	 		font-size: 18px;
   	 	}
   	 	border: none;
   	 	border-radius: 0px;
   	 	color:$bigBtnFontColor;
   	 	
   	 }
   	 button{
   	 	border:none;
		border-radius: 0px;
		background: $redButton 0% 0% no-repeat padding-box;
		@include media-breakpoint-up(lg)  {
			width: 180px;
		}
		color: $whiteColor;
   	 }
   }
   .adv-img{
	   	text-align: center;
	   	margin-top: 100px;
	   	margin-bottom: 100px;
   }
}