.modal-content{
	border: none;
	border-radius: 0px;
	input, select {
		font-family: Arial,FontAwesome;
		border: 1px solid #707070;
		border-radius: 0px;
		color: $textGrayColor;
		font-size: 18px;
		@include media-breakpoint-down(lg) {
			font-size: 14px;

		}
	}
}
#advance-search-modal{
	.modal-dialog{
		@include media-breakpoint-up(lg) {
			max-width: 1320px;
		}
		.modal-content{
			@include media-breakpoint-up(lg) {
				padding: 40px;
			}
			@include media-breakpoint-down(lg) {
				padding-top: 15px;
			}
			h1{
				font-size: 37px;
				@include media-breakpoint-down(lg) {
					font-size: 18px;
				}
			}
			.month-select-wrapper{
				@include media-breakpoint-down(lg) {
					margin-top: 10px;
				}
			}
			label{
				font-size: 18px;
				@include media-breakpoint-down(lg) {
					margin-top: 5px;
					font-size: 14px;
				}
			}
			.row{
				margin-bottom: 25px;
				@include media-breakpoint-down(lg) {
					margin-bottom: 15px;
				}
			}
		}
		button{
			font-size: 12px;
			padding: 10px;
			@include media-breakpoint-up(lg) {
				padding: 12px;
				margin-top: 18px;
				font-size: 18px;
			}
		}
	}
}
#apply-modal{
	h1{
		font-size: 59px;
		@include media-breakpoint-down(lg) {
			font-size: 40px;
		}
	}
	h2{
		font-size: 27px;
		@include media-breakpoint-down(lg) {
			font-size: 18px;
		}
	}
	h3{
		font-size: 23px;
		@include media-breakpoint-down(lg) {
			font-size: 18px;
		}
	}
	h4{
		font-size: 20px;
		@include media-breakpoint-down(lg) {
			font-size: 12px;
		}
	}
	p{
		font-size: 18px;
		@include media-breakpoint-down(lg) {
			font-size: 12px;
		}
	}
	.btn-wrapper{
		padding-left: 0px;
		padding-right: 0px;
		button{
			border: none;
			border-radius: 0px;
			width: 100%;
			@include media-breakpoint-down(lg) {
				margin-top: 5px;
			}
		}
	}
	img{
		@include media-breakpoint-down(lg) {
			width: 33px;
		}
	}
	

}