 body footer {
  a {
      text-decoration: none;
  }
  .job-location {
    top: 6722px;
    .title {
      left: 352px;
      width: 110px;
      height: 18px;
    }
    .list {
      left: 560px;
      width: 956px;
      height: 44px;
    }
    h6 {
      color: #fff;
      font-size: 14px;
      text-decoration: none;
    }
  }
  .job-skills {
    top: 6806px;
    .title {
      left: 352px;
      //width: 79px;
      width:105px;
      height: 18px;
    }
    .list {
      left: 560px;
      width: 917px;
      height: 44px;
    }
    h6 {
      color: #fff;
      font-size: 14px;
      text-decoration: none;
    }
  }
  .international-jobs {
    top: 6890px;
    .title {
      left: 352px;
      width: 105px;
      height: 18px;
    }
    .list {
      left: 560px;
      width: 917px;
      height: 44px;
    }
    h6 {
      color: #fff;
      font-size: 14px;
      text-decoration: none;
    }
  }
  .border1 {
    top: 7017px;
    left: 349px;
    width: 100%;//1229px;
    height: 0px;
    border: 1px solid #FFFFFF;
  }
  .bottom-section {
    top: 7094px;
    .footleft-text {
      left: 352px;
      width: 348px;
      height: 30px;
    }
    .footer-about {
      .f-about {
        top: 7094px;
        left: 814px;
        width: 35px;
        height: 15px;
        margin-left: 0;
      }
      .f-item {
        left: 814px;
        width: 77px;//71?
        height: 14px;
      }
      .f-item1 {
        top: 7133px;
        margin-right: 100px;
      }
      .f-item2 {
        top: 7159px;
      }
      .f-item3 {
        top: 7185px;
        margin-right: 100px;
      }
      .f-item4 {
        top: 7211px;
      }
    }
    .col-foot3 {
      .f-lorem {
          margin-left: 0;
      }
      p {
        left: 1045px;
        width: 77px;
        height: 15px;
      }
      p:first-child {
        top: 7094px;
      }
      .f-item1 {
        top: 7133px;
        margin-right: 100px;
      }
      .f-item2 {
        top: 7159px;
      }
      .f-item3 {
        top: 7185px;
        margin-right: 100px;
      }
      .f-item4 {
        top: 7211px;
      }
    }
    .col-foot4 {
      p {
        left: 1276px;
      }
      p:first-child {
        top: 7094px;
        width: 61px;
        height: 15px;
      }
      p:nth-child(2) {
        .fa {
          width: 14px;
          height: 14px;
        }
        span {
          width: 88px;
          height: 14px;
        }
      }
      p:nth-child(3) {
        .fa {
          width: 15px;
          height: 12px;
        }
        span {
          width: 103px;
          height: 14px;
        }        
      }
      p:nth-child(4) {
        .fa {
          width: 11px;
          height: 16px;
        }
        span {
          width: 119px;
          height: 14px;
        }        
      }
    }
  }
  .split {
    display: inline-block;
    @media only screen and (max-width: 600px) {
        display: none;
    }
  }
  ul {
      list-style-type: none;
      li {
          display: inline-block;
      }
  }

  @media only screen and (max-width: 600px) {
     .job-location li:nth-of-type(even) {
        margin-left: 150px;
     }
     .job-skills li:nth-of-type(even) {
        margin-left: 210px;
     }
  }

}