@import "var";
@import "nav";
@import "content";
@import "carousel";
@import "landingpage";

body {
  background-color: $bgColor;
  color: $fontColor;

  .alert {
    background-color: $alertColor;
    top: 0px;
    height: 38px;
    position: fixed;
    z-index: 100; 
    width: 100%; 
    text-align: center;
    color: $bigBtnBgColor;
    padding: 4px;
    border-radius: 0;
  }

}


/*main > .container {
  font-size: smaller;
}*/

