{% import 'macros/path.html' as f %}

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="carousel-caption">
        <div class="row">
          <div class="col-lg-6 col-sm-12 col-md-12 img-box d-lg-none">
            <img src="{{f.landing_page_img('alejandro-cartagena-2x.png')}}">
          </div>
          <div class="col-lg-6 col-sm-12 col-md-12 caption-box">
            <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Bibendum est</h5>
            <p>John Doe</p>
            <a href="#">The Current Position Now</a>
          </div>
          <div class="col-lg-6 col-sm-12 col-md-12 img-box d-none d-lg-block">
            <img src="{{f.landing_page_img('alejandro-cartagena-2x.png')}}">
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-caption">
        <div class="row">
          <div class="col-lg-6 col-sm-12 col-md-12 img-box d-lg-none">
            <img src="{{f.landing_page_img('alejandro-cartagena-2x.png')}}">
          </div>
          <div class="col-lg-6 col-sm-12 col-md-12 caption-box">
            <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Bibendum est</h5>
            <p>John Doe</p>
            <a href="#">The Current Position Now</a>
          </div>
          <div class="col-lg-6 col-sm-12 col-md-12 img-box d-none d-lg-block">
            <img src="{{f.landing_page_img('alejandro-cartagena-2x.png')}}">
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-caption">
        <div class="row">
          <div class="col-lg-6 col-sm-12 col-md-12 img-box d-lg-none">
            <img src="{{f.landing_page_img('alejandro-cartagena-2x.png')}}">
          </div>
          <div class="col-lg-6 col-sm-12 col-md-12 caption-box">
            <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Bibendum est</h5>
            <p>John Doe</p>
            <a href="#">The Current Position Now</a>
          </div>
          <div class="col-lg-6 col-sm-12 col-md-12 img-box d-none d-lg-block">
            <img src="{{f.landing_page_img('alejandro-cartagena-2x.png')}}">
          </div>
        </div>
      </div>
    </div>
  </div>