{% macro signup_url() %}{{ 'signup.html' }}{% endmacro %}

{% macro login_url() %}{{ 'login.html' }}{% endmacro %}

{% macro password_recovery_url() %}{{ 'password-recovery.html' }}{% endmacro %}

{% macro signout_url() %}{{ '' }}{% endmacro %}

{% macro settings_url() %}{{ '#' }}{% endmacro %}

{% macro save_url() %}{{ 'my-applications.html' }}{% endmacro %}

{% macro applications_url() %}{{ 'my-applications.html' }}{% endmacro %}

{% macro change_password_url() %}{{ 'my-settings-change-password.html' }}{% endmacro %}
