{% import 'macros/path.html' as f %}
{% import 'macros/site.html' as s %}
{% set is_guest = false %}
{% set alert = true %}
<!doctype html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% if meta_description %}
    <meta name="description" content="{{ meta_description }}">
    {% endif %}
    {% if meta_keywords %}
    <meta name="keywords" content="{{ meta_keywords }}">
    {% endif %}
    {% if meta_robots %}
    <meta name="robots" content="{{ meta_robots }}">
    {% endif %}
    {% block meta %}{% endblock %}
    <title>{{ meta_title | default('Jobs in Malaysia - April 2021 | JobMajestic') }}</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" as="font">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ f.css('main.min.css') }}">
    {% block css %}{% endblock %}
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
        href="{{ f.ico('apple-touch-icon-144-precomposed.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
        href="{{ f.ico('apple-touch-icon-114-precomposed.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ f.ico('apple-touch-icon-72-precomposed.png') }}" />
    <link rel="apple-touch-icon-precomposed" href="{{ f.ico('apple-touch-icon-57-precomposed.png') }}" />
    <link rel="shortcut icon" href="{{ f.logo('full-mark.png') }}" />
</head>

<body class="d-flex flex-column h-100">
    {% if alert %}
    <div class="alert">
        <p>This is an announcement/alert section option 1</p>
    </div>
    {% endif %}
    <header class="mb-1 mb-4 mb-md-5 scroll-base">
        {% include 'layouts/_nav.html' %}
    </header>
    <main role="main" class="mt-4 py-0 py-md-0 px-0">
        {% block content %}{% endblock %}
    </main>

    <footer>
        {% block sitemap %}
        {# include 'layouts/_newsletter-form.html' #}
        <div class="sitemap py-3 py-md-4">
            <div class="container-fluid">
                <div class="row jobs-by mb-3">
                    <div class="col-sm-6 col-md-2 col-lg-2 title mb-3">
                        <h6>Jobs by Location</h6>
                    </div>
                    <div class="col-sm-6 col-md-10 col-lg-10">
                        <ul class="list">
                            {% for i in range(1,10) %}
                            <li class="mr-3 align">{% if i > 1 %}<span class="split">|</span> {% endif %}<a href="#">{{
                                    'Jobs in Kuala Lumpur' | title }} </a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="row jobs-by mb-3">
                    <div class="col-sm-6 col-md-2 col-lg-2 title mb-3">
                        <h6>Jobs by Skill</h6>
                    </div>
                    <div class="col-sm-6 col-md-10 col-lg-10">
                        <ul class="list">
                            {% for i in range(1,20) %}
                            <li class="mr-3 align">{% if i > 1 %}<span class="split">|</span> {% endif %}<a href="#">{{
                                    'Job Name' | title }} </a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="row jobs-by mb-3">
                    <div class="col-sm-6 col-md-2 col-lg-2 title mb-3">
                        <h6>International Jobs</h6>
                    </div>
                    <div class="col-sm-6 col-md-10 col-lg-10">
                        <ul class="list">
                            {% for i in range(1,20) %}
                            <li class="mr-3 align">{% if i > 1 %}<span class="split">|</span> {% endif %}<a href="#">{{
                                    'Job Name' | title }} </a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="row horizontal-line space-line mt-3"></div>
                <div class="row bottom-section">
                    <div class="col-md-5">
                        <div class="footleft-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="row">About</div>
                        <div class="row row-cols-auto">
                            <div class="col-sm-6 col-md-6 col-lg-9  font-item">
                                Lorem Ipsum
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-9  font-item">
                                Lorem Ipsum
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-9  font-item">
                                Lorem Ipsum
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-9  font-item">
                                Lorem Ipsum
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="row">Lorem</div>
                        <div class="row row-cols-auto">
                            <div class="col-sm-6 col-md-6 col-lg-9  font-item">
                                Lorem Ipsum
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-9  font-item">
                                Lorem Ipsum
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-9  font-item">
                                Lorem Ipsum
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-9  font-item">
                                Lorem Ipsum
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="row">Contact</div>
                        <div class="row row-cols-auto">
                            <div class="col-sm-6 col-md-6 col-lg-9  font-item">
                                <i class="bi bi-telephone" aria-hidden="true"></i><span>+[61] 2654 8452</span>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-9  font-item">
                                <i class="bi bi-telephone" aria-hidden="true"></i><span>Lorem ipsum</span>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-9  font-item">
                                <i class="bi bi-telephone" aria-hidden="true"></i><span>Lorem ipsum dolor</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 hide-on-desktop">
                        <p>Socials</p>
                        <p><i class="fa fa-phone" aria-hidden="true"></i><span>+[61] 2654 8452</span></p>
                        <p><i class="fa fa-envelope" aria-hidden="true"></i><span>Lorem Ipsum</span></p>
                        <p><i class="fa fa-map-marker" aria-hidden="true"></i><span>Lorem Ipsum</span></p>
                    </div>
                    <div class="row horizontal-line space-line mt-3"></div>
                    <div class="col-md-4 d-flex">Lorem ipsum dolor sit amet,</div>
                    <div class="col-md-2 d-flex">
                        <p class="social-buttons">
                            <a href="{{ s.facebook_url() }}" target="_blank"><i class="fa fa-facebook circle"></i></a>
                            <a href="{{ s.instagram_url() }}" target="_blank"><i class="fa fa-instagram circle"></i></a>
                            <a href="{{ s.linkedin_url() }}" target="_blank"><i
                                    class="fa fa-linkedin-square circle"></i></a>
                            <a href="{{ s.tiktok_url() }}" target="_blank"><i class="fa fa-twitter circle"></i></a>
                        </p>
                    </div>
                    <div class="col-md-4 d-flex justify-content-end term-policy">
                        <a href="{{ s.privacy_url() }}" class="mr-3">Privacy Policy</a>&nbsp;&nbsp;
                        <a href="{{ s.terms_url() }}" class="mr-3">Terms Of Service</a>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
    {# f.js('main.min.js') #}
    <!-- page specific -->
    {# f.scroll() #}
    {% if is_guest %}
    <script src="{{ f.js('password-toggle.min.js') }}"></script>
    <script src="{{ f.js('guest.min.js') }}"></script>
    {% endif %}
    {% block js %}{% endblock %}
    <!-- page specific end -->
</body>

</html>