{% extends "layouts/base.html" %}

{% block js %}{% endblock %}


{% block content %}
    {% if company_search_box %}
<div class="page">
    <div class="container-fluid company-search-box">
        <img class="d-lg-none img-fluid" src="{{f.companies_main_img('company-header-mobile.png')}}">
        <div class="container-sm container-md">
            {% include 'partials/_company-search-box.html' %}
        </div>
    </div>
    {% endif %}
    <div class="container company-body">
        {% if company_header %}
        <div class="row">
            <div class="col-12">
                {% include 'partials/_company-header.html' %}
            </div>
        </div>
        {% endif %}
        {% block page %}

        {% endblock %}
    </div>

    {% if similar_company_slide %}>
    <div class="container">
        {% include 'components/_similar_company_slide.html' %}
    </div>
    {% endif %}
</div>
{% endblock %}

