{% extends "layouts/base.html" %}

{% block js %}{% endblock %}


{% block content %}
<div class="page">
    <div class="container-fluid profile-box">
        <img class="d-lg-none img-fluid" src="{{f.companies_main_img('company-header-mobile.png')}}">
        <div class="container-sm container-md">
            {% include 'partials/_profile-search-box.html' %}
        </div>
    </div>
    <div class="container profile-body">
        <div class="row profile-header">
            {% include 'partials/_profile-state-section.html' %}
        </div>
        {% if is_profile %}
        <div class="row r-avatar">
            {% include 'partials/_profile-basic.html' %}
        </div>
        {% endif %}
        {% if is_resume %}
        <div class="row r-avatar">
            {% include 'partials/_resume-basic.html' %}
        </div>
        <div class="row resume-nav-tab">
            {% include 'partials/_resume-nav-tab.html' %}
        </div>
        {% endif %}
        <div class="row mt-3 resume-body">
            <div class="col-lg-10 col-md-12 col-sm-12">
                {% block page %}

                {% endblock %}
            </div>
            <div class="col-lg-2 d-none d-lg-block">
                <img class="img-fluid" src="{{f.jobs_search_img('adv-banner-3.png')}}">
                <img class="img-fluid" src="{{f.jobs_search_img('adv-banner-2.png')}}">
            </div>
        </div>
        
    </div>
</div>
{% endblock %}