{% extends "layouts/base.html" %}

{% block js %}{% endblock %}


{% block content %}
<div class="page">
    <div class="container-fluid profile-box">
        <img class="d-lg-none img-fluid" src="{{f.companies_main_img('company-header-mobile.png')}}">
        <div class="container-sm container-md">
            {% include 'partials/_profile-search-box.html' %}
        </div>
    </div>
    <div class="container profile-body">
        <div class="row profile-header">
            {% include 'partials/_profile-state-section.html' %}
        </div>
        {% if is_profile %}
        <div class="row r-avatar">
            {% include 'partials/_profile-basic.html' %}
        </div>
        {% endif %}
        {% if is_resume or is_account %}
        <div class="row r-avatar">
            {% include 'partials/_resume-basic.html' %}
        </div>
        {% endif %}
        {% if is_resume %}
        <div class="row resume-nav-tab">
            {% include 'partials/_resume-nav-tab.html' %}
        </div>
        {% endif %}
        {% if is_account %}
        <div class="row resume-nav-tab">
            {% include 'partials/_account-nav-tab.html' %}
        </div>
        {% endif %}                
        {% block page %}

        {% endblock %}
    </div>
</div>
{% endblock %}